In [1]:
#instalo/actualizo
#! pip3 install --upgrade google-cloud-aiplatform

In [3]:
import re
import pandas as pd
from google.cloud import bigquery
import vertexai 
from vertexai.generative_models import GenerationConfig, GenerativeModel, Image, Part, Content
import vertexai.preview.generative_models as generative_models 
import sys
import os
from fuzzywuzzy import process, fuzz

In [4]:
import os 
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "C:\\Users\\flori\\OneDrive\\Desktop\\LDP\\ldp-data-genai-producto-b871ebffc681.json"

In [5]:
##curso...pongo el id del proyecto del gcp de prueba q inicie con este mail
# Define project information
PROJECT_ID = "ldp-data-genai-producto"  # @param {type:"string"}
LOCATION = "us-central1"  # @param {type:"string"}

# Initialize Vertex AI
import vertexai

vertexai.init(project=PROJECT_ID, location=LOCATION)

In [6]:
# Crear un cliente de BigQuery con el proyecto especificado
client = bigquery.Client(project='ldp-data-wyscout')
model = GenerativeModel("gemini-1.5-flash-002")
model2= GenerativeModel("gemini-1.5-pro-001")

In [7]:
generation_config = GenerationConfig(
    temperature=0,
    top_p=0.0,
    top_k=1,
    candidate_count=1,
    max_output_tokens=8192,
)

In [8]:
safety_settings = {
    generative_models.HarmCategory.HARM_CATEGORY_HATE_SPEECH: generative_models.HarmBlockThreshold.BLOCK_MEDIUM_AND_ABOVE,
    generative_models.HarmCategory.HARM_CATEGORY_DANGEROUS_CONTENT: generative_models.HarmBlockThreshold.BLOCK_MEDIUM_AND_ABOVE,
    generative_models.HarmCategory.HARM_CATEGORY_SEXUALLY_EXPLICIT: generative_models.HarmBlockThreshold.BLOCK_MEDIUM_AND_ABOVE,
    generative_models.HarmCategory.HARM_CATEGORY_HARASSMENT: generative_models.HarmBlockThreshold.BLOCK_MEDIUM_AND_ABOVE,
}

In [9]:
###ME TRAIGO LOS DATOS DE LA TABLA DE CAPOLOGY

# Consulta SQL
query2 = """SELECT * FROM `ldp-data-wyscout.capology.salarios_copy`"""

try:
    # Ejecutar la consulta y obtener los resultados en un DataFrame
    df1 = client.query(query2).to_dataframe()
    print(df1.head())
except Exception as e:
    print(f"An error occurred: {e}")

                  region           pais liga                    club  \
0  Central/North America  United States  MLS          Atlanta United
1  Central/North America  United States  MLS  New England Revolution
2  Central/North America  United States  MLS      Philadelphia Union
3  Central/North America  United States  MLS        Seattle Sounders
4  Central/North America  United States  MLS            Nashville SC

   weeklyavg  annualavg   moneda  domestic_competition_divisionLevel
0       6451     335452  dolares                                   1
1       9209     478875  dolares                                   1
2       6990     363486  dolares                                   1
3      10668     554728  dolares                                   1
4      11651     605862  dolares                                   1

In [10]:
df1.head(20)

,region,pais,liga,club,weeklyavg,annualavg,moneda,domestic_competition_divisionLevel
0,Central/North America,United States,MLS,Atlanta United,6451,335452,dolares,1
1,Central/North America,United States,MLS,New England Revolution,9209,478875,dolares,1
2,Central/North America,United States,MLS,Philadelphia Union,6990,363486,dolares,1
3,Central/North America,United States,MLS,Seattle Sounders,10668,554728,dolares,1
4,Central/North America,United States,MLS,Nashville SC,11651,605862,dolares,1
5,Central/North America,United States,MLS,Minnesota United,6842,355810,dolares,1
6,Central/North America,United States,MLS,Orlando City,8178,425248,dolares,1
7,Central/North America,Canada,MLS,Toronto FC,13244,688666,dolares,1
8,Central/North America,United States,MLS,FC Cincinnati,9171,476900,dolares,1
9,Central/North America,United States,MLS,Colorado Rapids,8771,456102,dolares,1
10,Central/North America,Canada,MLS,Vancouver Whitecaps,9843,511836,dolares,1
11,Central/North America,United States,MLS,Austin,9738,506369,dolares,1
12,Central/North America,United States,MLS,New York Red Bulls,10565,549402,dolares,1
13,Central/North America,United States,MLS,Portland Timbers,10097,525041,dolares,1
14,Central/North America,United States,MLS,St. Louis City,5487,285314,dolares,1
15,Central/North America,United States,MLS,Sporting Kansas City,10496,545783,dolares,1
16,Central/North America,United States,MLS,FC Dallas,7619,396191,dolares,1
17,Central/North America,United States,MLS,LAFC,9330,485154,dolares,1
18,Central/North America,United States,MLS,Charlotte FC,6711,348971,dolares,1
19,Central/North America,United States,MLS,San Jose Earthquakes,7804,405828,dolares,1

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 8 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   region                              570 non-null    object
 1   pais                                570 non-null    object
 2   liga                                570 non-null    object
 3   club                                570 non-null    object
 4   weeklyavg                           566 non-null    Int64
 5   annualavg                           566 non-null    Int64
 6   moneda                              570 non-null    object
 7   domestic_competition_divisionLevel  570 non-null    Int64
dtypes: Int64(3), object(5)
memory usage: 37.4+ KB

In [25]:
#df1.dropna(inplace=True)

In [13]:
dftext = df1.to_csv(index=False)

In [11]:
###FILTRO LA DE DICT TEAMS POR team_type="parent" and category="default" and gender = 'male' Y ADEMAS POR LOS PAISES QUE ESTAN EN LA DE CAPOLOGY PARA ACHICAR REGISTROS

query = """SELECT DISTINCT
    t.wyId, 
    t.name, 
    t.officialName, 
    t.area_name, 
    t.domestic_competition_name,
    t.region,
    t.domestic_competition_divisionLevel
FROM 
    ldp-data-wyscout.wyscout_curated.dict_teams t
    inner join ldp-data-wyscout.wyscout_curated.dict_competition_list c on c.wyId = t.domestic_competition_id
and c.band <= 6
WHERE 
    t.team_type = "parent"
    AND t.category = "default"
    AND t.gender = 'male'
    and t.domestic_competition_divisionLevel <= 4
    AND t.area_name IN (
        SELECT DISTINCT c.pais
        FROM ldp-data-wyscout.capology.salarios_copy c
    );
 """

try:
    # Ejecutar la consulta y obtener los resultados en un DataFrame                     ###domestic_competition_name
    df2 = client.query(query).to_dataframe()
    print(df2.head())
except Exception as e:
    print(f"An error occurred: {e}")

    wyId             name          officialName    area_name  \
0     59              ARC  Alphense Racing Club  Netherlands
1  13992         Orenburg           FK Orenburg       Russia
2   3252      Juve Stabia        SS Juve Stabia        Italy
3  26152  Felgueiras 1932    FC Felgueiras 1932     Portugal
4  15415    Santos Laguna    Club Santos Laguna       Mexico

  domestic_competition_name                 region  \
0            Vierde Divisie              Europe EU
1            Premier League            Europe rest
2                   Serie B              Europe EU
3              Segunda Liga              Europe EU
4                   Liga MX  Central/North America

   domestic_competition_divisionLevel
0                                   4
1                                   1
2                                   2
3                                   2
4                                   1

In [14]:
df2.head()

,wyId,name,officialName,area_name,domestic_competition_name,region,domestic_competition_divisionLevel
0,59,ARC,Alphense Racing Club,Netherlands,Vierde Divisie,Europe EU,4
1,13992,Orenburg,FK Orenburg,Russia,Premier League,Europe rest,1
2,3252,Juve Stabia,SS Juve Stabia,Italy,Serie B,Europe EU,2
3,26152,Felgueiras 1932,FC Felgueiras 1932,Portugal,Segunda Liga,Europe EU,2
4,15415,Santos Laguna,Club Santos Laguna,Mexico,Liga MX,Central/North America,1

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2017 entries, 0 to 2016
Data columns (total 7 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   wyId                                2017 non-null   Int64
 1   name                                2017 non-null   object
 2   officialName                        2017 non-null   object
 3   area_name                           2017 non-null   object
 4   domestic_competition_name           2017 non-null   object
 5   region                              2017 non-null   object
 6   domestic_competition_divisionLevel  2017 non-null   Int64
dtypes: Int64(2), object(5)
memory usage: 114.4+ KB

In [16]:
dftext2 = df2.to_csv(index=False)

In [39]:
prompt1= """Que informacion vez en estos textos?"""

In [40]:
##salida armoa
def generate():
  vertexai.init(project=PROJECT_ID, location=LOCATION)
  responses = model.generate_content(
      [dftext, dftext2, prompt1],
      generation_config=generation_config,
      safety_settings=safety_settings,
      stream=True,
  )

  for response in responses:
    print(response.text, end="")


generate()

These texts contain data about football (soccer) clubs across various leagues and countries.  The information includes:

* **Geographic Location:** Region (e.g., Europe, South America), Country (e.g., Spain, Brazil), and sometimes more specific area names.

* **League and Club Information:** The name of the league (e.g., La Liga, MLS) and the specific football club (e.g., Real Madrid, Atlanta United).  There's also a division level specified for each domestic competition.

* **Attendance Data:** Weekly average attendance and annual average attendance figures.

* **Currency:** The currency in which the attendance figures are reported (e.g., euros, dollars).

* **Unique Identifiers:**  `wyId` for some entries, providing a unique identifier for each club.  There's also a `name` and `officialName` for each club.


In short, the data represents a dataset suitable for analysis of football club attendance across different leagues and regions.  The inclusion of `wyId` suggests the data might be from a larger database or API.

In [18]:
prompt2= """Sos un agente que analiza datos tu funcion es generar una unica tabla a partir de la informacion que te doy en 2 csv, que corresponden a 2 tablas.
Estos textos contienen informacion de dos tablas:
El primer texto contiene la informacion de la primera tabla que contiene las siguientes columnas: 	
-region: corresponde a la region de donde es el club
-pais: corresponde al pais de donde es el club	
-liga: corresponde a la liga del club	
-club: corresponde al nombre del club	
-weeklyavg:	corresponde al salario semanal promedio por jugador del club
-annualavg: corresponde al salario anual promedio por jugador del club	
-moneda: corresponde a la moneda en la que se mide el salario
Y tiene 570 filas
El segundo texto contiene la informacion de la segunda tabla que contiene las siguientes columnas:
-wyId: corresponde al id del club	
-name: corresponde al nombre del club	
-officialName: corresponde al nombre oficial del club, puede ser levemente diferente al nombre o contenter alguna palabra mas.	
-area_name: corresponde al pais de donde es el club
-domestic_competition_name: corresponde a la liga del club		
-region: corresponde a la region de donde es el club
y contiene 2000 filas
La infomacion en ambas tablas es muy similar. La tabla 2 deberia tener todos los clubes de la tabla 1, no asi al revez. La tablta 1 tiene muchas menos filas que la tabla dos. 
El objetivo es encontrar el id de los clubes de la tabla 1, en la tabla 2 y crear una tabla final que contenga la informacion de la tabla 1 pero con wl wyId de la tabla dos.
La tabla final tiene que contenter la union de estas dos tablas con la informacion de ambas tablas, pero solo con los clubes que estan en ambas tablas.
Es decir solamente tienen que quedar en el resultado, los valores que coinciden dentro de las dos tablas con su ID, deberian ser la misma cantidad de valores que la primera tabla
Quiero que vos hagas la tabla. No quiero que me des el codigo de SQL para hacerlo yo.
Quiero que lo hagas con todos los valores de la tabla uno hasta terminar de leer ambos textos.
Es decir necesito que me devuelvas los 570 clubes del dftext con su wyid en una tabla.
La respuesta tiene que ser unicamente esta tabla de 570 filas con las columnas  region | pais | liga | club | weeklyavg | annualavg | moneda | domestic_competition_divisionLevel | wyId | name | officialName | area_name | domestic_competition_name 
"""

In [66]:

def generate():
  vertexai.init(project=PROJECT_ID, location=LOCATION)
  model3 = GenerativeModel("gemini-1.5-pro-preview-0409")
  responses = model3.generate_content(
      [dftext, dftext2, prompt2],
      generation_config=generation_config,
      safety_settings=safety_settings,
      stream=True,
  )
    # Captura el texto completo en una variable
  full_text = ""
  for response in responses:
      full_text += response.text

  return full_text

# Ejecuta la función y captura el texto generado
result_text = generate()

print(result_text)

```
region | pais | liga | club | weeklyavg | annualavg | moneda | domestic_competition_divisionLevel | wyId | name | officialName | area_name | domestic_competition_name
------- | -------- | -------- | -------- | -------- | -------- | -------- | -------- | -------- | -------- | -------- | -------- | --------
Central/North America | United States | MLS | Atlanta United | 6451 | 335452 | dolares | 1 | 58165 | Atlanta United | Atlanta United FC | United States | MLS
Central/North America | United States | MLS | New England Revolution | 9209 | 478875 | dolares | 1 | 7854 | New England | New England Revolution | United States | MLS
Central/North America | United States | MLS | Philadelphia Union | 6990 | 363486 | dolares | 1 | 8061 | Philadelphia Union | Philadelphia Union | United States | MLS
Central/North America | United States | MLS | Seattle Sounders | 10668 | 554728 | dolares | 1 | 8067 | Seattle Sounders | Seattle Sounders FC | United States | MLS
Central/North America | United States | MLS | Nashville SC | 11651 | 605862 | dolares | 1 | 30149 | Nashville SC | Nashville SC | United States | MLS
Central/North America | United States | MLS | Minnesota United | 6842 | 355810 | dolares | 1 | 8095 | Minnesota United | Minnesota United FC | United States | MLS
Central/North America | United States | MLS | Orlando City | 8178 | 425248 | dolares | 1 | 8068 | Orlando City | Orlando City SC | United States | MLS
Central/North America | Canada | MLS | Toronto FC | 13244 | 688666 | dolares | 1 | 14995 | Toronto | Toronto FC | Canada | MLS
Central/North America | United States | MLS | FC Cincinnati | 9171 | 476900 | dolares | 1 | 37892 | Cincinnati | FC Cincinnati | United States | MLS
Central/North America | United States | MLS | Colorado Rapids | 8771 | 456102 | dolares | 1 | 7853 | Colorado Rapids | Colorado Rapids | United States | MLS
Central/North America | Canada | MLS | Vancouver Whitecaps | 9843 | 511836 | dolares | 1 | 15015 | Vancouver Whitecaps | Vancouver Whitecaps FC | Canada | MLS
Central/North America | United States | MLS | Austin | 9738 | 506369 | dolares | 1 | 67860 | Austin FC | Austin FC | United States | MLS
Central/North America | United States | MLS | New York Red Bulls | 10565 | 549402 | dolares | 1 | 7945 | New York RB | New York Red Bulls | United States | MLS
Central/North America | United States | MLS | Portland Timbers | 10097 | 525041 | dolares | 1 | 8113 | Portland Timbers | Portland Timbers | United States | MLS
Central/North America | United States | MLS | St. Louis City | 5487 | 285314 | dolares | 1 | 69749 | St. Louis City  | St. Louis City Soccer Club | United States | MLS
Central/North America | United States | MLS | Sporting Kansas City | 10496 | 545783 | dolares | 1 | 7849 | Sporting KC | Sporting Kansas City | United States | MLS
Central/North America | United States | MLS | FC Dallas | 7619 | 396191 | dolares | 1 | 7869 | Dallas | FC Dallas | United States | MLS
Central/North America | United States | MLS | LAFC | 9330 | 485154 | dolares | 1 | 62148 | Los Angeles FC | Los Angeles FC | United States | MLS
Central/North America | United States | MLS | Charlotte FC | 6711 | 348971 | dolares | 1 | 67353 | Charlotte FC | Charlotte FC | United States | MLS
Central/North America | United States | MLS | San Jose Earthquakes | 7804 | 405828 | dolares | 1 | 7851 | SJ Earthquakes | San Jose Earthquakes | United States | MLS
Central/North America | United States | MLS | Real Salt Lake | 5803 | 301731 | dolares | 1 | 7871 | Real Salt Lake | Real Salt Lake | United States | MLS
Central/North America | United States | MLS | Houston Dynamo | 9720 | 505434 | dolares | 1 | 7944 | Houston Dynamo | Houston Dynamo | United States | MLS
Central/North America | United States | MLS | New York City | 8512 | 442640 | dolares | 1 | 32556 | New York City | New York City FC | United States | MLS
Central/North America | United States | MLS | Inter Miami | 18111 | 941776 | dolares | 1 | 66193 | Inter Miami | Club Internacional de Fútbol Miami | United States | MLS
Central/North America | United States | MLS | LA Galaxy | 13694 | 712108 | dolares | 1 | 7847 | Los Angeles Galaxy | Los Angeles Galaxy | United States | MLS
Central/North America | United States | MLS | Columbus Crew | 9230 | 479934 | dolares | 1 | 7855 | Columbus Crew | Columbus Crew | United States | MLS
Central/North America | Canada | MLS | CF Montreal | 6423 | 333984 | dolares | 1 | 8142 | CF Montréal | CF Montréal | Canada | MLS
Central/North America | United States | MLS | Chicago Fire | 11004 | 572221 | dolares | 1 | 7848 | Chicago Fire | Chicago Fire | United States | MLS
Central/North America | United States | MLS | DC United | 9577 | 498012 | dolares | 1 | 7852 | DC United | DC United | United States | MLS
Europe | Spain | La Liga | RC Celta de Vigo | 19253 | 1001154 | euros | 1 | 692 | Celta de Vigo | Real Club Celta de Vigo | Spain | La Liga
Europe | Spain | La Liga | Espanyol | 14127 | 734615 | euros | 1 | 691 | Espanyol | Reial Club Deportiu Espanyol | Spain | La Liga
Europe | Spain | La Liga | Alaves | 10216 | 531250 | euros | 1 | 696 | Deportivo Alavés | Deportivo Alavés | Spain | La Liga
Europe | Spain | La Liga | Athletic Club | 40799 | 2121538 | euros | 1 | 678 | Athletic Bilbao | Athletic Club Bilbao | Spain | La Liga
Europe | Spain | La Liga | Leganes | 5897 | 306667 | euros | 1 | 712 | Leganés | CD Leganés | Spain | La Liga
Europe | Spain | La Liga | Rayo Vallecano | 12815 | 666400 | euros | 1 | 713 | Rayo Vallecano | Rayo Vallecano | Spain | La Liga
Europe | Spain | La Liga | Barcelona | 140812 | 7322222 | euros | 1 | 676 | Barcelona | FC Barcelona | Spain | La Liga
Europe | Spain | La Liga | Real Betis | 29061 | 1511154 | euros | 1 | 684 | Real Betis | Real Betis Balompié | Spain | La Liga
Europe | Spain | La Liga | Valencia | 24431 | 1270400 | euros | 1 | 674 | Valencia | Valencia CF | Spain | La Liga
Europe | Spain | La Liga | Villarreal | 23438 | 1218750 | euros | 1 | 682 | Villarreal | Villarreal Club de Fútbol | Spain | La Liga
Europe | Spain | La Liga | Sevilla | 35318 | 1836538 | euros | 1 | 680 | Sevilla | Sevilla FC | Spain | La Liga
Europe | Spain | La Liga | Girona | 25361 | 1318750 | euros | 1 | 756 | Girona | Girona FC | Spain | La Liga
Europe | Spain | La Liga | Atletico Madrid | 89562 | 4657200 | euros | 1 | 679 | Atlético Madrid | Club Atlético de Madrid | Spain | La Liga
Europe | Spain | La Liga | Las Palmas | 11751 | 611071 | euros | 1 | 714 | Las Palmas | UD Las Palmas | Spain | La Liga
Europe | Spain | La Liga | Real Madrid | 233488 | 12141364 | euros | 1 | 675 | Real Madrid | Real Madrid Club de Fútbol | Spain | La Liga
Europe | Spain | La Liga | Valladolid | 12500 | 650000 | euros | 1 | 690 | Real Valladolid | Real Valladolid Club de Fútbol | Spain | La Liga
Europe | Spain | La Liga | Mallorca | 14738 | 766400 | euros | 1 | 686 | Mallorca | Real Club Deportivo Mallorca | Spain | La Liga
Europe | Spain | La Liga | Getafe | 18067 | 939500 | euros | 1 | 698 | Getafe | Getafe Club de Fútbol | Spain | La Liga
Europe | Spain | La Liga | Real Sociedad | 23462 | 1220000 | euros | 1 | 687 | Real Sociedad | Real Sociedad de Fútbol | Spain | La Liga
Europe | Spain | La Liga | Osasuna | 15885 | 826000 | euros | 1 | 681 | Osasuna | CA Osasuna | Spain | La Liga
Central/North America | Mexico | Liga MX | Leon | 4987 | 259333 | dolares | 1 | 15424 | León | Club León | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Pachuca | 4866 | 253030 | dolares | 1 | 15413 | Pachuca | CF Pachuca | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Monterrey | 18757 | 975357 | dolares | 1 | 15444 | Monterrey | CF Monterrey | Mexico | Liga MX
Central/North America | Mexico | Liga MX | America | 16902 | 878929 | dolares | 1 | 15405 | América | Club América | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Queretaro | 4523 | 235185 | dolares | 1 | 15421 | Querétaro | Querétaro FC | Mexico | Liga MX
Central/North America | Mexico | Liga MX | UANL | 16598 | 863103 | dolares | 1 | 15417 | Tigres UANL | CF Tigres de la Universidad Autónoma de Nuevo León | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Cruz Azul | 9494 | 493667 | dolares | 1 | 15408 | Cruz Azul | Cruz Azul FC | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Atlas | 5825 | 302917 | dolares | 1 | 15407 | Atlas | Atlas FC | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Guadalajara | 9973 | 518621 | dolares | 1 | 15409 | Guadalajara | CD Guadalajara | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Mazatlan | 6065 | 315385 | dolares | 1 | 66847 | Mazatlán | Mazatlán FC | Mexico | Liga MX
Central/North America | Mexico | Liga MX | UNAM | 6993 | 363636 | dolares | 1 | 15420 | Pumas UNAM | Pumas de la Universidad Nacional Autonoma de Mexico | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Toluca | 7182 | 373462 | dolares | 1 | 15418 | Toluca | Deportivo Toluca FC | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Puebla | 4910 | 255333 | dolares | 1 | 15414 | Puebla | Puebla FC | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Tijuana | 5153 | 267931 | dolares | 1 | 15459 | Club Tijuana | Club Tijuana Xoloitzcuintles de Caliente | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Necaxa | 4003 | 208182 | dolares | 1 | 15412 | Necaxa | Club Necaxa | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Atletico San Luis | 3386 | 176071 | dolares | 1 | 25866 | Atlético de San Luis | Atlético de San Luis | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Juarez | 5535 | 287813 | dolares | 1 | 34402 | Juárez | FC Juárez | Mexico | Liga MX
Central/North America | Mexico | Liga MX | Santos Laguna | 5398 | 280690 | dolares | 1 | 15415 | Santos Laguna | Club Santos Laguna | Mexico | Liga MX
Europe | France | Ligue 1 | Marseille | 33750 | 1755000 | euros | 1 | 3771 | Olympique Marseille | Olympique de Marseille | France | Ligue 1
Europe | France | Ligue 1 | Reims | 9808 | 510000 | euros | 1 | 3802 | Reims | Stade de Reims | France | Ligue 1
Europe | France | Ligue 1 | Brest | 14453 | 751538 | euros | 1 | 3803 | Brest | Stade Brestois 29 | France | Ligue 1
Europe | France | Ligue 1 | Auxerre | 8966 | 466207 | euros | 1 | 3769 | Auxerre | Association Jeunesse Auxerroise | France | Ligue 1
Europe | France | Ligue 1 | Rennes | 12023 | 625200 | euros | 1 | 3774 | Rennes | Stade Rennais FC | France | Ligue 1
Europe | France | Ligue 1 | Lille | 16120 | 838214 | euros | 1 | 3776 | Lille | Lille OSC Métropole | France | Ligue 1
Europe | France | Ligue 1 | Angers | 6484 | 337188 | euros | 1 | 3799 | Angers SCO | Angers Sporting Club de L'Ouest | France | Ligue 1
Europe | France | Ligue 1 | Montpellier | 11418 | 593750 | euros | 1 | 3787 | Montpellier | Montpellier HSC | France | Ligue 1
Europe | France | Ligue 1 | AS Monaco FC | 36662 | 1906400 | euros | 1 | 3784 | AS Monaco FC | AS Monaco FC | France | Ligue 1
Europe | France | Ligue 1 | Lens | 15126 | 786552 | euros | 1 | 3773 | Lens | Racing Club de Lens | France | Ligue 1
Europe | France | Ligue 1 | Lyon | 31712 | 1649032 | euros | 1 | 3766 | Olympique Lyonnais | Olympique Lyonnais | France | Ligue 1
Europe | France | Ligue 1 | PSG | 118419 | 6157813 | euros | 1 | 3767 | PSG | Paris Saint-Germain FC | France | Ligue 1
Europe | France | Ligue 1 | Toulouse | 6923 | 360000 | euros | 1 | 3780 | Toulouse | Toulouse FC | France | Ligue 1
Europe | France | Ligue 1 | Strasbourg | 6188 | 321765 | euros | 1 | 3779 | Strasbourg | RC Strasbourg Alsace | France | Ligue 1
Europe | France | Ligue 1 | Le Havre | 6771 | 352069 | euros | 1 | 3793 | Le Havre | Le Havre AC | France | Ligue 1
Europe | France | Ligue 1 | St-Etienne | 6296 | 327407 | euros | 1 | 3782 | Saint-Étienne | AS Saint-Étienne | France | Ligue 1
Europe | France | Ligue 1 | Nice | 14004 | 728214 | euros | 1 | 3775 | Nice | O.G.C. Nice Côte d'Azur | France | Ligue 1
Europe | France | Ligue 1 | Nantes | 14691 | 763913 | euros | 1 | 3770 | Nantes | FC Nantes | France | Ligue 1
Europe | France | Ligue 2 | Caen | 4146 | 215600 | euros | 2 | 3783 | Caen | Stade Malherbe Caen | France | Ligue 2
Europe | France | Ligue 2 | Paris FC | 4986 | 259259 | euros | 2 | 3846 | Paris | Paris FC | France | Ligue 2
Europe | France | Ligue 2 | Rodez | 2348 | 122105 | euros | 2 | 3867 | Rodez  | Rodez Aveyron Football | France | Ligue 2
Europe | France | Ligue 2 | Guingamp | 3999 | 207931 | euros | 2 | 3785 | Guingamp | En Avant Guingamp | France | Ligue 2
Europe | France | Ligue 2 | Clermont | 3754 | 195185 | euros | 2 | 3797 | Clermont | Clermont Foot 63 | France | Ligue 2
Europe | France | Ligue 2 | Red Star | 0 | 0 | euros | 2 | 3829 | Red Star | Red Star FC 93 | France | Ligue 2
Europe | France | Ligue 2 | Dunkerque | 1558 | 81000 | euros | 2 | 3904 | Dunkerque | US du Littoral de Dunkerque | France | Ligue 2
Europe | France | Ligue 2 | Amiens | 5000 | 260000 | euros | 2 | 3789 | Amiens SC | Amiens SC | France | Ligue 2
Europe | France | Ligue 2 | Laval | 3034 | 157778 | euros | 2 | 3801 | Laval | Stade Lavallois Mayenne FC | France | Ligue 2
Europe | France | Ligue 2 | Annecy | 2482 | 129048 | euros | 2 | 4427 | Annecy | FC Annecy | France | Ligue 2
Europe | France | Ligue 2 | Pau | 3327 | 173000 | euros | 2 | 3815 | Pau | FC Pau | France | Ligue 2
Europe | France | Ligue 2 | Metz | 6360 | 330741 | euros | 2 | 3777 | Metz | FC Metz | France | Ligue 2
Europe | France | Ligue 2 | Lorient | 11881 | 617813 | euros | 2 | 3788 | Lorient | FC Lorient | France | Ligue 2
Europe | France | Ligue 2 | Grenoble | 2984 | 155185 | euros | 2 | 3798 | Grenoble | Grenoble Foot 38 | France | Ligue 2
Europe | France | Ligue 2 | Bastia | 3184 | 165556 | euros | 2 | 3778 | Bastia | SC Bastia | France | Ligue 2
Europe | France | Ligue 2 | Ajaccio | 4006 | 208333 | euros | 2 | 3781 | Ajaccio | A.C. Ajaccio | France | Ligue 2
Europe | France | Ligue 2 | Martigues | 0 | 0 | euros | 2 | 3825 | Martigues | FC Martigues | France | Ligue 2
Europe | Italy | Serie A | Venezia | 9305 | 483871 | euros | 1 | 3191 | Venezia | Venezia Football Club | Italy | Serie A
Europe | Italy | Serie A | Napoli | 58874 | 3061429 | euros | 1 | 3187 | Napoli | SSC Napoli | Italy | Serie A
Europe | Italy | Serie A | Lecce | 6737 | 350303 | euros | 1 | 3168 | Lecce | US Lecce | Italy | Serie A
Europe | Italy | Serie A | Inter Milan | 96113 | 4997857 | euros | 1 | 3161 | Internazionale | FC Internazionale Milano | Italy | Serie A
Europe | Italy | Serie A | Juventus | 74206 | 3858733 | euros | 1 | 3159 | Juventus | Juventus FC | Italy | Serie A
Europe | Italy | Serie A | Fiorentina | 38564 | 2005333 | euros | 1 | 3176 | Fiorentina | ACF Fiorentina | Italy | Serie A
Europe | Italy | Serie A | AC Milan | 67415 | 3505556 | euros | 1 | 3157 | Milan | AC Milan | Italy | Serie A
Europe | Italy | Serie A | Parma | 11795 | 613333 | euros | 1 | 3160 | Parma | Parma Calcio 1913 | Italy | Serie A
Europe | Italy | Serie A | Monza | 20014 | 1040714 | euros | 1 | 3236 | Monza | Associazione Calcio Monza | Italy | Serie A
Europe | Italy | Serie A | Como | 14280 | 742571 | euros | 1 | 3200 | Como | Calcio Como 1907 | Italy | Serie A
Europe | Italy | Serie A | Lazio | 46889 | 2438214 | euros | 1 | 3162 | Lazio | SS Lazio | Italy | Serie A
Europe | Italy | Serie A | Atalanta | 40057 | 2082963 | euros | 1 | 3172 | Atalanta | Atalanta Bergamasca Calcio | Italy | Serie A
Europe | Italy | Serie A | Hellas Verona | 8715 | 453158 | euros | 1 | 3194 | Hellas Verona | Hellas Verona FC | Italy | Serie A
Europe | Italy | Serie A | Udinese | 11941 | 620909 | euros | 1 | 3163 | Udinese | Udinese Calcio | Italy | Serie A
Europe | Italy | Serie A | Bologna | 18112 | 941818 | euros | 1 | 3166 | Bologna | Bologna FC 1909 | Italy | Serie A
Europe | Italy | Serie A | Roma | 70144 | 3647500 | euros | 1 | 3158 | Roma | AS Roma | Italy | Serie A
Europe | Italy | Serie A | Cagliari | 13765 | 715769 | euros | 1 | 3173 | Cagliari | Cagliari Calcio | Italy | Serie A
Europe | Italy | Serie A | Empoli | 12150 | 631786 | euros | 1 | 3178 | Empoli | Empoli FC | Italy | Serie A
Europe | Italy | Serie A | Genoa | 18654 | 970000 | euros | 1 | 3193 | Genoa | Genoa CFC | Italy | Serie A
Europe | Italy | Serie A | Torino | 23528 | 1223448 | euros | 1 | 3185 | Torino | Torino FC | Italy | Serie A
Europe | Italy | Serie B | Spezia | 10199 | 530323 | euros | 2 | 3205 | Spezia | Spezia Calcio | Italy | Serie B
Europe | Italy | Serie B | Pisa | 6780 | 352556 | euros | 2 | 3207 | Pisa | Pisa Sporting Club | Italy | Serie B
Europe | Italy | Serie B | Cittadella | 3897 | 202655 | euros | 2 | 3208 | Cittadella | AS Cittadella | Italy | Serie B
Europe | Italy | Serie B | Cosenza | 4640 | 241286 | euros | 2 | 3311 | Cosenza | Cosenza Calcio | Italy | Serie B
Europe | Italy | Serie B | Frosinone | 10156 | 528095 | euros | 2 | 3254 | Frosinone | Frosinone Calcio | Italy | Serie B
Europe | Italy | Serie B | Sudtirol | 5274 | 274231 | euros | 2 | 3282 | Südtirol | FC Südtirol | Italy | Serie B
Europe | Italy | Serie B | Sampdoria | 11583 | 602333 | euros | 2 | 3164 | Sampdoria | UC Sampdoria | Italy | Serie B
Europe | Italy | Serie B | Modena | 5308 | 276000 | euros | 2 | 3177 | Modena | Modena FC | Italy | Serie B
Europe | Italy | Serie B | Sassuolo | 15999 | 831944 | euros | 2 | 3315 | Sassuolo | US Sassuolo Calcio | Italy | Serie B
Europe | Italy | Serie B | Cremonese | 9780 | 508571 | euros | 2 | 3235 | Cremonese | US Cremonese | Italy | Serie B
Europe | Italy | Serie B | Reggiana | 6198 | 322273 | euros | 2 | 3211 | Reggiana | AC Reggiana 1919 | Italy | Serie B
Europe | Italy | Serie B | Salernitana | 16915 | 879583 | euros | 2 | 3192 | Salernitana | US Salernitana 1919 | Italy | Serie B
Europe | Italy | Serie B | Brescia | 7228 | 375846 | euros | 2 | 3167 | Brescia | Brescia Calcio | Italy | Serie B
Europe | Italy | Serie B | Palermo | 9100 | 473214 | euros | 2 | 3171 | Palermo | Palermo FC | Italy | Serie B
Europe | Italy | Serie B | Bari | 5385 | 280000 | euros | 2 | 3218 | Bari | Società Sportiva Calcio Bari | Italy | Serie B
Europe | Spain | La Liga 2 | Racing Ferrol | 3151 | 163846 | euros | 2 | 716 | Racing Ferrol | Racing Club de Ferrol | Spain | Segunda División
Europe | Spain | La Liga 2 | Cadiz | 11592 | 602800 | euros | 2 | 700 | Cádiz | Cádiz CF | Spain | Segunda División
Europe | Spain | La Liga 2 | Cartagena | 5689 | 295833 | euros | 2 | 807 | Cartagena | FC Cartagena | Spain | Segunda División
Europe | Spain | La Liga 2 | Granada | 13878 | 721667 | euros | 2 | 846 | Granada | Granada CF | Spain | Segunda División
Europe | Spain | La Liga 2 | Deportivo | 105 | 5455 | euros | 2 | 677 | Deportivo La Coruña | Real Club Deportivo de La Coruña | Spain | Segunda División
Europe | Spain | La Liga 2 | Malaga | 296 | 15417 | euros | 2 | 683 | Málaga | Málaga Club de Fútbol | Spain | Segunda División
Europe | Spain | La Liga 2 | Levante | 4895 | 254545 | euros | 2 | 695 | Levante | Levante UD | Spain | Segunda División
Europe | Spain | La Liga 2 | Real Oviedo | 5789 | 301029 | euros | 2 | 789 | Real Oviedo | Real Oviedo | Spain | Segunda División
Europe | Spain | La Liga 2 | Eibar | 7262 | 377647 | euros | 2 | 701 | Eibar | SD Eibar | Spain | Segunda División
Europe | Spain | La Liga 2 | Sporting Gijon | 5235 | 272222 | euros | 2 | 697 | Sporting Gijón | Real Sporting de Gijón | Spain | Segunda División
Europe | Spain | La Liga 2 | Elche | 8251 | 429048 | euros | 2 | 702 | Elche | Elche CF | Spain | Segunda División
Europe | Spain | La Liga 2 | Albacete | 3603 | 187368 | euros | 2 | 685 | Albacete | Albacete Balompié | Spain | Segunda División
Europe | Spain | La Liga 2 | Eldense | 2354 | 122400 | euros | 2 | 845 | Eldense | CD Eldense | Spain | Segunda División
Europe | Spain | La Liga 2 | Huesca | 3822 | 198750 | euros | 2 | 802 | Huesca | SD Huesca | Spain | Segunda División

bucle pero da medio desordenado

In [ ]:
def generate():
    vertexai.init(project=PROJECT_ID, location=LOCATION)
    model3 = GenerativeModel("gemini-1.5-pro-preview-0409")
    
    # Inicializamos un conjunto para almacenar filas únicas
    unique_rows = set()
    
    while len(unique_rows) < 570:
        # Realizamos la llamada al modelo
        responses = model3.generate_content(
            [dftext, dftext2, prompt2],
            generation_config=generation_config,
            safety_settings=safety_settings,
            stream=True,
        )
        
        for response in responses:
            # Dividimos la respuesta generada en filas
            rows = response.text.strip().split('\n')
            
            # Añadimos las filas al conjunto para eliminar duplicados
            unique_rows.update(rows)

        # Verificamos si ya tenemos 570 filas únicas
        if len(unique_rows) >= 570:
            break
    
    # Unimos las filas únicas en un solo texto
    full_text = "\n".join(unique_rows)

    return full_text

pruebo con el mismo prompt pero con un bucle
ES EL QUE FUNCIONA!!!! VA ITERANDO DE A 100 FILAS, LA VARIABLE QUE ITERO ESTA EN DATAFRAME, LA QUE LE PASO PARA COMPARAR ESTA EN CSV

In [19]:
import pandas as pd

def generate():
    vertexai.init(project=PROJECT_ID, location=LOCATION)
    model3 = GenerativeModel("gemini-1.5-pro-preview-0409")
    
    # Lee el archivo CSV como un DataFrame
    df1 #df1 = pd.read_csv('ruta/al/archivo/df1.csv')  # Reemplaza con la ruta correcta
    df2 #dftext2 = pd.read_csv('ruta/al/archivo/dftext2.csv')  # Reemplaza con la ruta correcta

    # Inicializamos variables para acumular el texto
    full_text = ""
    total_rows = df1.shape[0]
    batch_size = 100  # Tamaño del lote

    # Itera sobre el DataFrame en lotes
    for i in range((total_rows + batch_size - 1) // batch_size):  # Asegura que se cubran todos los lotes
        batch = df1[i * batch_size:(i + 1) * batch_size]

        # Convierte el lote a un formato de texto (CSV sin encabezados)
        batch_text = batch.to_csv(index=False, header=False)

        # Realiza la llamada al modelo con el lote actual
        responses = model3.generate_content(
            [batch_text, dftext2, prompt2],  # Asegúrate de que df12 esté en el formato correcto
            generation_config=generation_config,
            safety_settings=safety_settings,
            stream=True,
        )
        
        # Captura las respuestas generadas
        for response in responses:
            full_text += response.text

    return full_text

# Llama a la función para generar el texto
result_text = generate()

In [20]:
print(result_text)

```
| region | pais | liga | club | weeklyavg | annualavg | moneda | domestic_competition_divisionLevel | wyId | name | officialName | area_name | domestic_competition_name |
|---|---|---|---|---|---|---|---|---|---|---|---|---|
| Central/North America | United States | MLS | Atlanta United | 6451 | 335452 | dolares | 1 | 58165 | Atlanta United | Atlanta United FC | United States | MLS |
| Central/North America | United States | MLS | New England Revolution | 9209 | 478875 | dolares | 1 | 7854 | New England | New England Revolution | United States | MLS |
| Central/North America | United States | MLS | Philadelphia Union | 6990 | 363486 | dolares | 1 | 8061 | Philadelphia Union | Philadelphia Union | United States | MLS |
| Central/North America | United States | MLS | Seattle Sounders | 10668 | 554728 | dolares | 1 | 8067 | Seattle Sounders | Seattle Sounders FC | United States | MLS |
| Central/North America | United States | MLS | Nashville SC | 11651 | 605862 | dolares | 1 | 30149 | Nashville SC | Nashville SC | United States | MLS |
| Central/North America | United States | MLS | Minnesota United | 6842 | 355810 | dolares | 1 | 8095 | Minnesota United | Minnesota United FC | United States | MLS |
| Central/North America | United States | MLS | Orlando City | 8178 | 425248 | dolares | 1 | 8068 | Orlando City | Orlando City SC | United States | MLS |
| Central/North America | Canada | MLS | Toronto FC | 13244 | 688666 | dolares | 1 | 14995 | Toronto | Toronto FC | Canada | MLS |
| Central/North America | United States | MLS | FC Cincinnati | 9171 | 476900 | dolares | 1 | 37892 | Cincinnati | FC Cincinnati | United States | MLS |
| Central/North America | United States | MLS | Colorado Rapids | 8771 | 456102 | dolares | 1 | 7853 | Colorado Rapids | Colorado Rapids | United States | MLS |
| Central/North America | Canada | MLS | Vancouver Whitecaps | 9843 | 511836 | dolares | 1 | 15015 | Vancouver Whitecaps | Vancouver Whitecaps FC | Canada | MLS |
| Central/North America | United States | MLS | Austin | 9738 | 506369 | dolares | 1 | 67860 | Austin FC | Austin FC | United States | MLS |
| Central/North America | United States | MLS | New York Red Bulls | 10565 | 549402 | dolares | 1 | 7945 | New York RB | New York Red Bulls | United States | MLS |
| Central/North America | United States | MLS | Portland Timbers | 10097 | 525041 | dolares | 1 | 8113 | Portland Timbers | Portland Timbers | United States | MLS |
| Central/North America | United States | MLS | St. Louis City | 5487 | 285314 | dolares | 1 | 69749 | St. Louis City  | St. Louis City Soccer Club | United States | MLS |
| Central/North America | United States | MLS | Sporting Kansas City | 10496 | 545783 | dolares | 1 | 7849 | Sporting KC | Sporting Kansas City | United States | MLS |
| Central/North America | United States | MLS | FC Dallas | 7619 | 396191 | dolares | 1 | 7869 | Dallas | FC Dallas | United States | MLS |
| Central/North America | United States | MLS | LAFC | 9330 | 485154 | dolares | 1 | 62148 | Los Angeles FC | Los Angeles FC | United States | MLS |
| Central/North America | United States | MLS | Charlotte FC | 6711 | 348971 | dolares | 1 | 67353 | Charlotte FC | Charlotte FC | United States | MLS |
| Central/North America | United States | MLS | San Jose Earthquakes | 7804 | 405828 | dolares | 1 | 7851 | SJ Earthquakes | San Jose Earthquakes | United States | MLS |
| Central/North America | United States | MLS | Real Salt Lake | 5803 | 301731 | dolares | 1 | 7871 | Real Salt Lake | Real Salt Lake | United States | MLS |
| Central/North America | United States | MLS | Houston Dynamo | 9720 | 505434 | dolares | 1 | 7944 | Houston Dynamo | Houston Dynamo | United States | MLS |
| Central/North America | United States | MLS | New York City | 8512 | 442640 | dolares | 1 | 32556 | New York City | New York City FC | United States | MLS |
| Central/North America | United States | MLS | Inter Miami | 18111 | 941776 | dolares | 1 | 66193 | Inter Miami | Club Internacional de Fútbol Miami | United States | MLS |
| Central/North America | United States | MLS | LA Galaxy | 13694 | 712108 | dolares | 1 | 7847 | Los Angeles Galaxy | Los Angeles Galaxy | United States | MLS |
| Central/North America | United States | MLS | Columbus Crew | 9230 | 479934 | dolares | 1 | 7855 | Columbus Crew | Columbus Crew | United States | MLS |
| Central/North America | Canada | MLS | CF Montreal | 6423 | 333984 | dolares | 1 | 8142 | CF Montréal | CF Montréal | Canada | MLS |
| Central/North America | United States | MLS | Chicago Fire | 11004 | 572221 | dolares | 1 | 7848 | Chicago Fire | Chicago Fire | United States | MLS |
| Central/North America | United States | MLS | DC United | 9577 | 498012 | dolares | 1 | 7852 | DC United | DC United | United States | MLS |
| Europe | Spain | La Liga | RC Celta de Vigo | 19253 | 1001154 | euros | 1 | 692 | Celta de Vigo | Real Club Celta de Vigo | Spain | La Liga |
| Europe | Spain | La Liga | Espanyol | 14127 | 734615 | euros | 1 | 691 | Espanyol | Reial Club Deportiu Espanyol | Spain | La Liga |
| Europe | Spain | La Liga | Alaves | 10216 | 531250 | euros | 1 | 696 | Deportivo Alavés | Deportivo Alavés | Spain | La Liga |
| Europe | Spain | La Liga | Athletic Club | 40799 | 2121538 | euros | 1 | 678 | Athletic Bilbao | Athletic Club Bilbao | Spain | La Liga |
| Europe | Spain | La Liga | Leganes | 5897 | 306667 | euros | 1 | 712 | Leganés | CD Leganés | Spain | La Liga |
| Europe | Spain | La Liga | Rayo Vallecano | 12815 | 666400 | euros | 1 | 713 | Rayo Vallecano | Rayo Vallecano | Spain | La Liga |
| Europe | Spain | La Liga | Barcelona | 140812 | 7322222 | euros | 1 | 676 | Barcelona | FC Barcelona | Spain | La Liga |
| Europe | Spain | La Liga | Real Betis | 29061 | 1511154 | euros | 1 | 684 | Real Betis | Real Betis Balompié | Spain | La Liga |
| Europe | Spain | La Liga | Valencia | 24431 | 1270400 | euros | 1 | 674 | Valencia | Valencia CF | Spain | La Liga |
| Europe | Spain | La Liga | Villarreal | 23438 | 1218750 | euros | 1 | 682 | Villarreal | Villarreal Club de Fútbol | Spain | La Liga |
| Europe | Spain | La Liga | Sevilla | 35318 | 1836538 | euros | 1 | 680 | Sevilla | Sevilla FC | Spain | La Liga |
| Europe | Spain | La Liga | Girona | 25361 | 1318750 | euros | 1 | 756 | Girona | Girona FC | Spain | La Liga |
| Europe | Spain | La Liga | Atletico Madrid | 89562 | 4657200 | euros | 1 | 679 | Atlético Madrid | Club Atlético de Madrid | Spain | La Liga |
| Europe | Spain | La Liga | Las Palmas | 11751 | 611071 | euros | 1 | 714 | Las Palmas | UD Las Palmas | Spain | La Liga |
| Europe | Spain | La Liga | Real Madrid | 233488 | 12141364 | euros | 1 | 675 | Real Madrid | Real Madrid Club de Fútbol | Spain | La Liga |
| Europe | Spain | La Liga | Valladolid | 12500 | 650000 | euros | 1 | 690 | Real Valladolid | Real Valladolid Club de Fútbol | Spain | La Liga |
| Europe | Spain | La Liga | Mallorca | 14738 | 766400 | euros | 1 | 686 | Mallorca | Real Club Deportivo Mallorca | Spain | La Liga |
| Europe | Spain | La Liga | Getafe | 18067 | 939500 | euros | 1 | 698 | Getafe | Getafe Club de Fútbol | Spain | La Liga |
| Europe | Spain | La Liga | Real Sociedad | 23462 | 1220000 | euros | 1 | 687 | Real Sociedad | Real Sociedad de Fútbol | Spain | La Liga |
| Europe | Spain | La Liga | Osasuna | 15885 | 826000 | euros | 1 | 681 | Osasuna | CA Osasuna | Spain | La Liga |
| Central/North America | Mexico | Liga MX | Leon | 4987 | 259333 | dolares | 1 | 15424 | León | Club León | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Pachuca | 4866 | 253030 | dolares | 1 | 15413 | Pachuca | CF Pachuca | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Monterrey | 18757 | 975357 | dolares | 1 | 15444 | Monterrey | CF Monterrey | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | America | 16902 | 878929 | dolares | 1 | 15405 | América | Club América | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Queretaro | 4523 | 235185 | dolares | 1 | 15421 | Querétaro | Querétaro FC | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | UANL | 16598 | 863103 | dolares | 1 | 15417 | Tigres UANL | CF Tigres de la Universidad Autónoma de Nuevo León | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Cruz Azul | 9494 | 493667 | dolares | 1 | 15408 | Cruz Azul | Cruz Azul FC | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Atlas | 5825 | 302917 | dolares | 1 | 15407 | Atlas | Atlas FC | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Guadalajara | 9973 | 518621 | dolares | 1 | 15409 | Guadalajara | CD Guadalajara | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Mazatlan | 6065 | 315385 | dolares | 1 | 66847 | Mazatlán | Mazatlán FC | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | UNAM | 6993 | 363636 | dolares | 1 | 15420 | Pumas UNAM | Pumas de la Universidad Nacional Autonoma de Mexico | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Toluca | 7182 | 373462 | dolares | 1 | 15418 | Toluca | Deportivo Toluca FC | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Puebla | 4910 | 255333 | dolares | 1 | 15414 | Puebla | Puebla FC | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Tijuana | 5153 | 267931 | dolares | 1 | 15459 | Club Tijuana | Club Tijuana Xoloitzcuintles de Caliente | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Necaxa | 4003 | 208182 | dolares | 1 | 15412 | Necaxa | Club Necaxa | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Atletico San Luis | 3386 | 176071 | dolares | 1 | 25866 | Atlético de San Luis | Atlético de San Luis | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Juarez | 5535 | 287813 | dolares | 1 | 34402 | Juárez | FC Juárez | Mexico | Liga MX |
| Central/North America | Mexico | Liga MX | Santos Laguna | 5398 | 280690 | dolares | 1 | 15415 | Santos Laguna | Club Santos Laguna | Mexico | Liga MX |
| Europe | France | Ligue 1 | Marseille | 33750 | 1755000 | euros | 1 | 3771 | Olympique Marseille | Olympique de Marseille | France | Ligue 1 |
| Europe | France | Ligue 1 | Reims | 9808 | 510000 | euros | 1 | 3802 | Reims | Stade de Reims | France | Ligue 1 |
| Europe | France | Ligue 1 | Brest | 14453 | 751538 | euros | 1 | 3803 | Brest | Stade Brestois 29 | France | Ligue 1 |
| Europe | France | Ligue 1 | Auxerre | 8966 | 466207 | euros | 1 | 3769 | Auxerre | Association Jeunesse Auxerroise | France | Ligue 1 |
| Europe | France | Ligue 1 | Rennes | 12023 | 625200 | euros | 1 | 3774 | Rennes | Stade Rennais FC | France | Ligue 1 |
| Europe | France | Ligue 1 | Lille | 16120 | 838214 | euros | 1 | 3776 | Lille | Lille OSC Métropole | France | Ligue 1 |
| Europe | France | Ligue 1 | Angers | 6484 | 337188 | euros | 1 | 3799 | Angers SCO | Angers Sporting Club de L'Ouest | France | Ligue 1 |
| Europe | France | Ligue 1 | Montpellier | 11418 | 593750 | euros | 1 | 3787 | Montpellier | Montpellier HSC | France | Ligue 1 |
| Europe | France | Ligue 1 | AS Monaco FC | 36662 | 1906400 | euros | 1 | 3809 | AS Monaco FC | AS Monaco FC | France | Ligue 1 |
| Europe | France | Ligue 1 | Lens | 15126 | 786552 | euros | 1 | 3773 | Lens | Racing Club de Lens | France | Ligue 1 |
| Europe | France | Ligue 1 | Lyon | 31712 | 1649032 | euros | 1 | 3766 | Olympique Lyonnais | Olympique Lyonnais | France | Ligue 1 |
| Europe | France | Ligue 1 | PSG | 118419 | 6157813 | euros | 1 | 3767 | PSG | Paris Saint-Germain FC | France | Ligue 1 |
| Europe | France | Ligue 1 | Toulouse | 6923 | 360000 | euros | 1 | 3780 | Toulouse | Toulouse FC | France | Ligue 1 |
| Europe | France | Ligue 1 | Strasbourg | 6188 | 321765 | euros | 1 | 3779 | Strasbourg | RC Strasbourg Alsace | France | Ligue 1 |
| Europe | France | Ligue 1 | Le Havre | 6771 | 352069 | euros | 1 | 3793 | Le Havre | Le Havre AC | France | Ligue 1 |
| Europe | France | Ligue 1 | St-Etienne | 6296 | 327407 | euros | 1 | 3782 | Saint-Étienne | AS Saint-Étienne | France | Ligue 1 |
| Europe | France | Ligue 1 | Nice | 14004 | 728214 | euros | 1 | 3775 | Nice | O.G.C. Nice Côte d'Azur | France | Ligue 1 |
| Europe | France | Ligue 1 | Nantes | 14691 | 763913 | euros | 1 | 3770 | Nantes | FC Nantes | France | Ligue 1 |
| Europe | France | Ligue 2 | Caen | 4146 | 215600 | euros | 2 | 3783 | Caen | Stade Malherbe Caen | France | Ligue 2 |
| Europe | France | Ligue 2 | Paris FC | 4986 | 259259 | euros | 2 | 3846 | Paris | Paris FC | France | Ligue 2 |
| Europe | France | Ligue 2 | Rodez | 2348 | 122105 | euros | 2 | 3867 | Rodez  | Rodez Aveyron Football | France | Ligue 2 |
| Europe | France | Ligue 2 | Guingamp | 3999 | 207931 | euros | 2 | 3785 | Guingamp | En Avant Guingamp | France | Ligue 2 |
| Europe | France | Ligue 2 | Clermont | 3754 | 195185 | euros | 2 | 3797 | Clermont | Clermont Foot 63 | France | Ligue 2 |
| Europe | France | Ligue 2 | Red Star | 0 | 0 | euros | 2 | 3829 | Red Star | Red Star FC 93 | France | Ligue 2 |
| Europe | France | Ligue 2 | Dunkerque | 1558 | 81000 | euros | 2 | 3904 | Dunkerque | US du Littoral de Dunkerque | France | Ligue 2 |
| Europe | France | Ligue 2 | Amiens | 5000 | 260000 | euros | 2 | 3789 | Amiens SC | Amiens SC | France | Ligue 2 |
| Europe | France | Ligue 2 | Laval | 3034 | 157778 | euros | 2 | 3801 | Laval | Stade Lavallois Mayenne FC | France | Ligue 2 |
| Europe | France | Ligue 2 | Annecy | 2482 | 129048 | euros | 2 | 4427 | Annecy | FC Annecy | France | Ligue 2 |
| Europe | France | Ligue 2 | Pau | 3327 | 173000 | euros | 2 | 3815 | Pau | FC Pau | France | Ligue 2 |
| Europe | France | Ligue 2 | Metz | 6360 | 330741 | euros | 2 | 3777 | Metz | FC Metz | France | Ligue 2 |
| Europe | France | Ligue 2 | Lorient | 11881 | 617813 | euros | 2 | 3788 | Lorient | FC Lorient | France | Ligue 2 |
| Europe | France | Ligue 2 | Grenoble | 2984 | 155185 | euros | 2 | 3798 | Grenoble | Grenoble Foot 38 | France | Ligue 2 |
| Europe | France | Ligue 2 | Bastia | 3184 | 165556 | euros | 2 | 3778 | Bastia | SC Bastia | France | Ligue 2 |
```
```
| region | pais | liga | club | weeklyavg | annualavg | moneda | domestic_competition_divisionLevel | wyId | name | officialName | area_name | domestic_competition_name |
|---|---|---|---|---|---|---|---|---|---|---|---|---|
| Europe | France | Ligue 2 | Ajaccio | 4006 | 208333 | euros | 2 | 3781 | Ajaccio | A.C. Ajaccio | France | Ligue 2 |
| Europe | France | Ligue 2 | Martigues | 0 | 0 | euros | 2 | 3825 | Martigues | FC Martigues | France | Ligue 2 |
| Europe | Italy | Serie A | Venezia | 9305 | 483871 | euros | 1 | 3191 | Venezia | Venezia Football Club | Italy | Serie A |
| Europe | Italy | Serie A | Napoli | 58874 | 3061429 | euros | 1 | 3187 | Napoli | SSC Napoli | Italy | Serie A |
| Europe | Italy | Serie A | Lecce | 6737 | 350303 | euros | 1 | 3168 | Lecce | US Lecce | Italy | Serie A |
| Europe | Italy | Serie A | Inter Milan | 96113 | 4997857 | euros | 1 | 3161 | Internazionale | FC Internazionale Milano | Italy | Serie A |
| Europe | Italy | Serie A | Juventus | 74206 | 3858733 | euros | 1 | 3159 | Juventus | Juventus FC | Italy | Serie A |
| Europe | Italy | Serie A | Fiorentina | 38564 | 2005333 | euros | 1 | 3176 | Fiorentina | ACF Fiorentina | Italy | Serie A |
| Europe | Italy | Serie A | AC Milan | 67415 | 3505556 | euros | 1 | 3157 | Milan | AC Milan | Italy | Serie A |
| Europe | Italy | Serie A | Parma | 11795 | 613333 | euros | 1 | 3160 | Parma | Parma Calcio 1913 | Italy | Serie A |
| Europe | Italy | Serie A | Monza | 20014 | 1040714 | euros | 1 | 3236 | Monza | Associazione Calcio Monza | Italy | Serie A |
| Europe | Italy | Serie A | Como | 14280 | 742571 | euros | 1 | 3200 | Como | Calcio Como 1907 | Italy | Serie A |
| Europe | Italy | Serie A | Lazio | 46889 | 2438214 | euros | 1 | 3162 | Lazio | SS Lazio | Italy | Serie A |
| Europe | Italy | Serie A | Atalanta | 40057 | 2082963 | euros | 1 | 3172 | Atalanta | Atalanta Bergamasca Calcio | Italy | Serie A |
| Europe | Italy | Serie A | Hellas Verona | 8715 | 453158 | euros | 1 | 3194 | Hellas Verona | Hellas Verona FC | Italy | Serie A |
| Europe | Italy | Serie A | Udinese | 11941 | 620909 | euros | 1 | 3163 | Udinese | Udinese Calcio | Italy | Serie A |
| Europe | Italy | Serie A | Bologna | 18112 | 941818 | euros | 1 | 3166 | Bologna | Bologna FC 1909 | Italy | Serie A |
| Europe | Italy | Serie A | Roma | 70144 | 3647500 | euros | 1 | 3158 | Roma | AS Roma | Italy | Serie A |
| Europe | Italy | Serie A | Cagliari | 13765 | 715769 | euros | 1 | 3173 | Cagliari | Cagliari Calcio | Italy | Serie A |
| Europe | Italy | Serie A | Empoli | 12150 | 631786 | euros | 1 | 3178 | Empoli | Empoli FC | Italy | Serie A |
| Europe | Italy | Serie A | Genoa | 18654 | 970000 | euros | 1 | 3193 | Genoa | Genoa CFC | Italy | Serie A |
| Europe | Italy | Serie A | Torino | 23528 | 1223448 | euros | 1 | 3185 | Torino | Torino FC | Italy | Serie A |
| Europe | Italy | Serie B | Spezia | 10199 | 530323 | euros | 2 | 3205 | Spezia | Spezia Calcio | Italy | Serie B |
| Europe | Italy | Serie B | Pisa | 6780 | 352556 | euros | 2 | 3207 | Pisa | Pisa Sporting Club | Italy | Serie B |
| Europe | Italy | Serie B | Carrarese | 64 | 3333 | euros | 2 | 3242 | Carrarese | Carrarese Calcio | Italy | Serie B |
| Europe | Italy | Serie B | Juve Stabia | 0 | 0 | euros | 2 | 3252 | Juve Stabia | SS Juve Stabia | Italy | Serie B |
| Europe | Italy | Serie B | Cittadella | 3897 | 202655 | euros | 2 | 3208 | Cittadella | AS Cittadella | Italy | Serie B |
| Europe | Italy | Serie B | Cosenza | 4640 | 241286 | euros | 2 | 3311 | Cosenza | Cosenza Calcio | Italy | Serie B |
| Europe | Italy | Serie B | Frosinone | 10156 | 528095 | euros | 2 | 3254 | Frosinone | Frosinone Calcio | Italy | Serie B |
| Europe | Italy | Serie B | Catanzaro | 5060 | 263143 | euros | 2 | 3198 | Catanzaro | US Catanzaro 1929 | Italy | Serie B |
| Europe | Italy | Serie B | Sudtirol | 5274 | 274231 | euros | 2 | 3282 | Südtirol | FC Südtirol | Italy | Serie B |
| Europe | Italy | Serie B | Sampdoria | 11583 | 602333 | euros | 2 | 3164 | Sampdoria | UC Sampdoria | Italy | Serie B |
| Europe | Italy | Serie B | Modena | 5308 | 276000 | euros | 2 | 3177 | Modena | Modena FC | Italy | Serie B |
| Europe | Italy | Serie B | Sassuolo | 15999 | 831944 | euros | 2 | 3315 | Sassuolo | US Sassuolo Calcio | Italy | Serie B |
| Europe | Italy | Serie B | Cremonese | 9780 | 508571 | euros | 2 | 3235 | Cremonese | US Cremonese | Italy | Serie B |
| Europe | Italy | Serie B | Reggiana | 6198 | 322273 | euros | 2 | 3211 | Reggiana | AC Reggiana 1919 | Italy | Serie B |
| Europe | Italy | Serie B | Salernitana | 16915 | 879583 | euros | 2 | 3192 | Salernitana | US Salernitana 1919 | Italy | Serie B |
| Europe | Italy | Serie B | Cesena | 0 | 0 | euros | 2 | 26388 | Cesena | Cesena Football Club | Italy | Serie B |
| Europe | Italy | Serie B | Mantova | 0 | 0 | euros | 2 | 3256 | Mantova | Mantova 1911 FC | Italy | Serie B |
| Europe | Italy | Serie B | Brescia | 7228 | 375846 | euros | 2 | 3167 | Brescia | Brescia Calcio | Italy | Serie B |
| Europe | Italy | Serie B | Palermo | 9100 | 473214 | euros | 2 | 3171 | Palermo | Palermo FC | Italy | Serie B |
| Europe | Italy | Serie B | Bari | 5385 | 280000 | euros | 2 | 3218 | Bari | Società Sportiva Calcio Bari | Italy | Serie B |
| Europe | Spain | La Liga 2 | Castellon | 0 | 0 | euros | 2 | 757 | Castellón | CD Castellón | Spain | Segunda División |
| Europe | Spain | La Liga 2 | Cordoba | 0 | 0 | euros | 2 | 709 | Córdoba | Córdoba CF | Spain | Segunda División |
| Europe | Spain | La Liga 2 | Mirandes | 1827 | 95000 | euros | 2 | 999 | Mirandés | CD Mirandés | Spain | Segunda División |
| Europe | Spain | La Liga 2 | Tenerife | 3624 | 188438 | euros | 2 | 707 | Tenerife | CD Tenerife | Spain | Segunda División |

In [21]:
matches = re.findall(r'\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|', result_text)

# Convierte los datos en un DataFrame de pandas y asigna las columnas correctamente
dfunion = pd.DataFrame(matches)#, columns=[club | liga | pais | wyId | officialName | name | area_name | domestic_competition_name ])

dfunion = dfunion[~dfunion.eq('---').all(axis=1)]
dfunion.columns = dfunion.iloc[0]  # La primera fila se convierte en nombres de columna
dfunion = dfunion[1:]
# Resetea el índice
dfunion.reset_index(drop=True, inplace=True)

print(dfunion)

In [2]:
dfunion.head()

NameError: name 'dfunion' is not defined

In [1]:
dfunion.info()

NameError: name 'dfunion' is not defined

In [34]:
# Especifica tu ID de proyecto
project_id = 'ldp-data-wyscout'

# Crear un cliente de BigQuery con el proyecto especificado
client = bigquery.Client(project=project_id)

# Especificar la tabla de destino en el formato dataset.tabla
table_id = 'ldp-data-wyscout.otras_fuentes.capology_gemini'

# Configurar la carga de datos
job_config = bigquery.LoadJobConfig(
    write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE,  # Reemplaza la tabla si ya existe
)

# Guardar el DataFrame en BigQuery
job = client.load_table_from_dataframe(dfunion, table_id, job_config=job_config)
job.result()  # Esperar a que el trabajo termine

print(f"Los datos han sido cargados en la tabla {table_id}.")

Los datos han sido cargados en la tabla ldp-data-wyscout.otras_fuentes.capology_gemini.

In [ ]:
prompt=f"""Sos un agente que analiza datos tu funcion es generar una unica tabla a partir de la informacion que te doy en 2 csv, que corresponden a 2 tablas.
Estos textos contienen informacion de dos tablas:
El primer texto:{dftext} contiene la informacion de la primera tabla que contiene las siguientes columnas: 	
-region: corresponde a la region de donde es el club
-pais: corresponde al pais de donde es el club	
-liga: corresponde a la liga del club	
-club: corresponde al nombre del club	
-weeklyavg:	corresponde al salario semanal promedio por jugador del club
-annualavg: corresponde al salario anual promedio por jugador del club	
-moneda: corresponde a la moneda en la que se mide el salario
El segundo texto: {dftext2} contiene la informacion de la segunda tabla que contiene las siguientes columnas:
-wyId: corresponde al id del club	
-name: corresponde al nombre del club	
-officialName: corresponde al nombre oficial del club, puede ser levemente diferente al nombre o contenter alguna palabra mas.	
-area_name: corresponde al pais de donde es el club
-domestic_competition_name: corresponde a la liga del club		
-region: corresponde a la region de donde es el club
La infomacion en ambas tablas es muy similar. La tabla 2 deberia tener todos los clubes de la tabla 1, no asi al revez. La tablta 1 tiene muchas menos filas que la tabla dos. 
El objetivo es encontrar el id de los clubes de la tabla 1, en la tabla 2. 
La tabla final tiene que contenter la union de estas dos tablas con la informacion de ambas tablas, pero solo con los clubes que estan en ambas tablas.
Es decir solamente tienen que quedar en el resultado, los valores que coinciden dentro de las dos tablas con su ID, deberian ser la misma cantidad de valores que la primera tabla
Quiero que vos hagas la tabla. No quiero que me des el codigo de SQL para hacerlo yo."""

responses = model.generate_content(prompt, generation_config=generation_config, stream=True)

# Inicializar una variable para almacenar el resultado completo
full_response = ""

# Recopilar y unir todas las partes de la respuesta
for response in responses:
    full_response += response.text

# Imprimir o usar la respuesta completa almacenada en la variable
print(full_response)

In [ ]:
pattern = r'\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|'
matches = re.findall(pattern, full_response)

# Convierte los datos en un DataFrame de pandas y asigna las columnas correctamente
dfunion = pd.DataFrame(matches)#, columns=[club | liga | pais | wyId | officialName | name | area_name | domestic_competition_name ])

dfunion = dfunion[~dfunion.eq('---').all(axis=1)]
dfunion.columns = dfunion.iloc[0]  # La primera fila se convierte en nombres de columna
dfunion = dfunion[1:]
# Resetea el índice
dfunion.reset_index(drop=True, inplace=True)

print(dfunion)

In [65]:
prompt22=f"""Sos un agente que analiza datos tu funcion es generar una unica tabla a partir de la informacion que te doy en 2 csv, que corresponden a 2 tablas.
Estos textos contienen informacion de dos tablas:
El primer texto:{dftext} contiene la informacion de la primera tabla que contiene las siguientes columnas: 	
-region: corresponde a la region de donde es el club
-pais: corresponde al pais de donde es el club	
-liga: corresponde a la liga del club	
-club: corresponde al nombre del club	
-weeklyavg:	corresponde al salario semanal promedio por jugador del club
-annualavg: corresponde al salario anual promedio por jugador del club	
-moneda: corresponde a la moneda en la que se mide el salario
El segundo texto: {dftext2} contiene la informacion de la segunda tabla que contiene las siguientes columnas:
-wyId: corresponde al id del club	
-name: corresponde al nombre del club	
-officialName: corresponde al nombre oficial del club, puede ser levemente diferente al nombre o contenter alguna palabra mas.	
-area_name: corresponde al pais de donde es el club
-domestic_competition_name: corresponde a la liga del club		
-region: corresponde a la region de donde es el club
La infomacion en ambas tablas es muy similar. La tabla 2 deberia tener todos los clubes de la tabla 1, no asi al revez. La tablta 1 tiene muchas menos filas que la tabla dos. 
El objetivo es encontrar el id de los clubes de la tabla 1, en la tabla 2. 
La tabla final tiene que contenter la union de estas dos tablas con la informacion de ambas tablas, pero solo con los clubes que estan en la primera tabla. Tiene que haber aproximadamente 570 clubes.
Es decir solamente tienen que quedar en el resultado, los valores que coinciden dentro de las dos tablas con su ID, deberian ser la misma cantidad de valores que la primera tabla
Quiero que vos hagas la tabla. No quiero que me des el codigo de SQL para hacerlo yo.
Si hay valores similares unificalos, por ejemplo region de ambas tablas, pais de una con area_name de otra, club con name y officialName, liga con domestic_competition_name"""

responses2 = model.generate_content(prompt22, generation_config=generation_config, stream=True)

# Inicializar una variable para almacenar el resultado completo
full_response2 = ""

# Recopilar y unir todas las partes de la respuesta
for response in responses2:
    full_response2 += response.text

# Imprimir o usar la respuesta completa almacenada en la variable
print(full_response2)

## Tabla Combinada de Clubes de Fútbol

| wyId | region | pais | liga | club | weeklyavg | annualavg | moneda | officialName | area_name | domestic_competition_name |
|---|---|---|---|---|---|---|---|---|---|---|
| 12397 | South America | Colombia | Liga BetPlay | Pasto | 3314 | 172308 | dolares | Asociación Deportivo Pasto | Colombia | Liga BetPlay |
| 12405 | South America | Colombia | Liga BetPlay | Envigado | 3183 | 165517 | dolares | Envigado FC | Colombia | Liga BetPlay |
| 12392 | South America | Colombia | Liga BetPlay | Once Caldas | 3762 | 195625 | dolares | Once Caldas SA | Colombia | Liga BetPlay |
| 12425 | South America | Colombia | Liga BetPlay | Alianza | 3293 | 171250 | dolares | Alianza FC | Colombia | Liga BetPlay |
| 12421 | South America | Colombia | Liga BetPlay | Patriotas Boyacá | 2543 | 132258 | dolares | Corporación Deportiva Patriotas FC | Colombia | Liga BetPlay |
| 12413 | South America | Colombia | Liga BetPlay | Águilas Doradas | 3036 | 157857 | dolares | Águilas Doradas S.A. | Colombia | Liga BetPlay |
| 12427 | South America | Colombia | Liga BetPlay | Fortaleza | 3146 | 163600 | dolares | Fortaleza CEIF FC | Colombia | Liga BetPlay |
| 12393 | South America | Colombia | Liga BetPlay | Junior | 5341 | 277742 | dolares | Club Deportivo Junior FC S.A. | Colombia | Liga BetPlay |
| 12401 | South America | Colombia | Liga BetPlay | Atlético Bucaramanga | 4003 | 208148 | dolares | Club Atlético Bucaramanga CD | Colombia | Liga BetPlay |
| 12394 | South America | Colombia | Liga BetPlay | Deportivo Cali | 4800 | 249600 | dolares | Asociación Deportivo Cali | Colombia | Liga BetPlay |
| 12400 | South America | Colombia | Liga BetPlay | Millonarios | 5798 | 301471 | dolares | Millonarios FC SA | Colombia | Liga BetPlay |
| 12398 | South America | Colombia | Liga BetPlay | Boyacá Chicó | 2140 | 111290 | dolares | Deportivo Boyacá Chicó FC S.A. | Colombia | Liga BetPlay |
| 12396 | South America | Colombia | Liga BetPlay | Tolima | 4279 | 222500 | dolares | Club Deportes Tolima S.A. | Colombia | Liga BetPlay |
| 12403 | South America | Colombia | Torneo BetPlay | Atlético Huila | 0 | 0 | dolares | Club Deportivo Atlético Huila | Colombia | Torneo BetPlay |
| 12399 | South America | Colombia | Liga BetPlay | Medellín | 4237 | 220333 | dolares | Deportivo Independiente Medellín S.A. | Colombia | Liga BetPlay |
| 24749 | South America | Colombia | Liga BetPlay | Jaguares de Córdoba | 0 | 0 | dolares | CD Jaguares de Córdoba | Colombia | Liga BetPlay |
| 12411 | South America | Colombia | Liga BetPlay | La Equidad | 3469 | 180400 | dolares | Club Deportivo La Equidad Seguros | Colombia | Liga BetPlay |
| 12390 | South America | Colombia | Liga BetPlay | América de Cali | 6083 | 316296 | dolares | Sociedad Anónima Deportiva América S.A. | Colombia | Liga BetPlay |
| 12395 | South America | Colombia | Liga BetPlay | Deportivo Pereira | 4088 | 212581 | dolares | Corporación Social Deportiva y Cultural de Pereira | Colombia | Liga BetPlay |
| 12417 | South America | Colombia | Torneo BetPlay | Bogotá | 0 | 0 | dolares | Corporación Deportiva Bogotá FC | Colombia | Torneo BetPlay |
| 12407 | South America | Colombia | Torneo BetPlay | Unión Magdalena | 0 | 0 | dolares | AD Unión Magdalena | Colombia | Torneo BetPlay |
| 12426 | South America | Colombia | Torneo BetPlay | Real Santander | 0 | 0 | dolares | Corporación Deportiva Real Santander | Colombia | Torneo BetPlay |
| 12409 | South America | Colombia | Torneo BetPlay | Real Cartagena | 0 | 0 | dolares | Real Cartagena FC S.A. | Colombia | Torneo BetPlay |
| 12415 | South America | Colombia | Torneo BetPlay | Leones | 0 | 0 | dolares | Leones FC | Colombia | Torneo BetPlay |
| 12406 | South America | Colombia | Torneo BetPlay | Deportes Quindío | 0 | 0 | dolares | Corporación Deportes Quindío | Colombia | Torneo BetPlay |
| 75436 | South America | Colombia | Torneo BetPlay | Internacional Palmira | 0 | 0 | dolares | Internacional FC de Palmira | Colombia | Torneo BetPlay |
| 12419 | South America | Colombia | Torneo BetPlay | Barranquilla | 0 | 0 | dolares | Corporación Deportiva Barranquilla FC | Colombia | Torneo BetPlay |
| 12402 | South America | Colombia | Torneo BetPlay | Cortuluá | 0 | 0 | dolares | Corporacion Club Deportivo Cortuluá | Colombia | Torneo BetPlay |
| 12424 | South America | Colombia | Torneo BetPlay | Real Soacha Cundinamarca | 0 | 0 | dolares | Real Soacha Cundinamarca | Colombia | Torneo BetPlay |
| 12423 | South America | Colombia | Torneo BetPlay | Atlético | 0 | 0 | dolares | Atlético FC | Colombia | Torneo BetPlay |
| 22849 | South America | Colombia | Torneo BetPlay | Llaneros | 0 | 0 | dolares | Club Llaneros SA | Colombia | Torneo BetPlay |
| 37644 | South America | Colombia | Torneo BetPlay | Orsomarso | 0 | 0 | dolares | Orsomarso SC | Colombia | Torneo BetPlay |
| 12410 | South America | Colombia | Torneo BetPlay | Cúcuta Deportivo | 0 | 0 | dolares | Corporación Nuevo Cúcuta Deportivo | Colombia | Torneo BetPlay |
| 12416 | South America | Colombia | Torneo BetPlay | Tigres | 0 | 0 | dolares | Tigres FC | Colombia | Torneo BetPlay |
| 12429 | South America | Colombia | Torneo BetPlay | Uniautónoma | 0 | 0 | dolares | Universidad Autónoma del Caribe S.A. | Colombia | Torneo BetPlay |
| 12418 | South America | Colombia | Torneo BetPlay | Atlético La Sabana | 0 | 0 | dolares | CD Atlético La Sabana | Colombia | Torneo BetPlay |
| 12144 | South America | Argentina | Prim B Metro | Deportivo Laferrere | 0 | 0 | dolares | CSyC Deportivo Laferrere | Argentina | Prim B Metro |
| 12074 | South America | Argentina | Primera Nacional | Almagro | 0 | 0 | dolares | Club Almagro | Argentina | Primera Nacional |
| 12259 | South America | Argentina | Primera Nacional | Club Atlético Mitre | 0 | 0 | dolares | Club Atlético Mitre de Santiago del Estero | Argentina | Primera Nacional |
| 12160 | South America | Argentina | Primera C | Yupanqui | 0 | 0 | dolares | CSD Yupanqui | Argentina | Primera C |
| 12174 | South America | Argentina | Primera C | Deportivo Paraguayo | 0 | 0 | dolares | CA Deportivo Paraguayo | Argentina | Primera C |
| 12148 | South America | Argentina | Liga Profesional de Fútbol | Barracas Central | 0 | 0 | dolares | CA Barracas Central | Argentina | Liga Profesional de Fútbol |
| 12112 | South America | Argentina | Prim B Metro | Flandria | 0 | 0 | dolares | CSyD Flandria | Argentina | Prim B Metro |
| 12158 | South America | Argentina | Prim B Metro | Argentino Merlo | 0 | 0 | dolares | CA Argentino de Merlo | Argentina | Prim B Metro |
| 12169 | South America | Argentina | Primera C | Leandro Nicéforo Alem | 0 | 0 | dolares | CDM Leandro Nicéforo Alem | Argentina | Primera C |
| 12156 | South America | Argentina | Prim B Metro | Acassuso | 0 | 0 | dolares | CA Acassuso | Argentina | Prim B Metro |
| 12104 | South America | Argentina | Prim B Metro | Deportivo Armenio | 0 | 0 | dolares | CD Armenio | Argentina | Prim B Metro |
| 12173 | South America | Argentina | Prim B Metro | UAI Urquiza | 0 | 0 | dolares | CD UAI Urquiza | Argentina | Prim B Metro |
| 12143 | South America | Argentina | Prim B Metro | Colegiales | 0 | 0 | dolares | CA Colegiales | Argentina | Prim B Metro |
| 12142 | South America | Argentina | Prim B Metro | Dock Sud | 0 | 0 | dolares | CS Dock Sud | Argentina | Prim B Metro |
| 12149 | South America | Argentina | Prim B Metro | Cañuelas | 0 | 0 | dolares | Cañuelas FC | Argentina | Prim B Metro |
| 12157 | South America | Argentina | Prim B Metro | San Martín Burzaco | 0 | 0 | dolares | CSyD San Martín de Burzaco | Argentina | Prim B Metro |
| 12172 | South America | Argentina | Prim B Metro | Argentino Quilmes | 0 | 0 | dolares | CA Argentino de Quilmes de Buenos Aires | Argentina | Prim B Metro |
| 12166 | South America | Argentina | Prim B Metro | Midland | 0 | 0 | dolares | CA Ferrocarril Midland | Argentina | Prim B Metro |
| 12120 | South America | Argentina | Prim B Metro | Los Andes | 0 | 0 | dolares | CA Los Andes | Argentina | Prim B Metro |
| 12163 | South America | Argentina | Primera C | Lugano | 0 | 0 | dolares | CA Lugano | Argentina | Primera C |
| 12161 | South America | Argentina | Primera C | Central Ballester | 0 | 0 | dolares | CSD Central Ballester | Argentina | Primera C |
| 12150 | South America | Argentina | Primera C | CS Barracas | 0 | 0 | dolares | Club Sportivo Barracas | Argentina | Primera C |
| 12107 | South America | Argentina | Primera C | Central Córdoba | 0 | 0 | dolares | CA Central Córdoba | Argentina | Primera C |
| 12167 | South America | Argentina | Primera C | Puerto Nuevo | 0 | 0 | dolares | CA Puerto Nuevo | Argentina | Primera C |
| 12122 | South America | Argentina | Primera C | Juventud Pergamino | 0 | 0 | dolares | CA Juventud de Pergamino | Argentina | Primera C |
| 12175 | South America | Argentina | Primera C | Centro Español | 0 | 0 | dolares | CSYR Español | Argentina | Primera C |
| 12141 | South America | Argentina | Primera C | Ituzaingó | 0 | 0 | dolares | CA Ituzaingó | Argentina | Primera C |
| 12224 | South America | Argentina | Primera C | Deportivo Muñiz | 0 | 0 | dolares | CSD Muñiz | Argentina | Primera C |
| 12129 | South America | Argentina | Primera Nacional | Gimnasia Mendoza | 0 | 0 | dolares | Atlético Gimnasia y Esgrima de Mendoza | Argentina | Primera Nacional |
| 12096 | South America | Argentina | Primera Nacional | Aldosivi | 0 | 0 | dolares | CA Aldosivi | Argentina | Primera Nacional |
| 12111 | South America | Argentina | Primera C | Deportivo Español | 0 | 0 | dolares | CSyD Español | Argentina | Primera C |
| 12117 | South America | Argentina | Primera Nacional | Tristán Suárez | 0 | 0 | dolares | CSyD Tristán Suárez | Argentina | Primera Nacional |
| 12110 | South America | Argentina | Primera Nacional | Estudiantes Caseros | 0 | 0 | dolares | CA Estudiantes de Caseros | Argentina | Primera Nacional |
| 12078 | South America | Argentina | Primera Nacional | Defensores de Belgrano | 0 | 0 | dolares | CA Defensores de Belgrano | Argentina | Primera Nacional |
| 12170 | South America | Argentina | Primera Nacional | Defensores Unidos | 0 | 0 | dolares | CA Defensores Unidos | Argentina | Primera Nacional |
| 12091 | South America | Argentina | Primera Nacional | San Martín San Juan | 0 | 0 | dolares | CA San Martín de San Juan | Argentina | Primera Nacional |
| 12094 | South America | Argentina | Primera Nacional | Racing Córdoba | 0 | 0 | dolares | CA Racing de Córdoba | Argentina | Primera Nacional |
| 12116 | South America | Argentina | Primera Nacional | San Telmo | 0 | 0 | dolares | CA San Telmo | Argentina | Primera Nacional |
| 12095 | South America | Argentina | Liga Profesional de Fútbol | Sarmiento | 0 | 0 | dolares | CA Sarmiento | Argentina | Liga Profesional de Fútbol |
| 12060 | South America | Argentina | Liga Profesional de Fútbol | Estudiantes | 0 | 0 | dolares | Estudiantes de La Plata | Argentina | Liga Profesional de Fútbol |
| 12076 | South America | Argentina | Liga Profesional de Fútbol | Belgrano | 0 | 0 | dolares | CA Belgrano de Córdoba | Argentina | Liga Profesional de Fútbol |
| 12089 | South America | Argentina | Primera Nacional | Almirante Brown | 0 | 0 | dolares | Club Almirante Brown | Argentina | Primera Nacional |
| 12100 | South America | Argentina | Primera Nacional | San Martín Tucumán | 0 | 0 | dolares | CA San Martín de Tucumán | Argentina | Primera Nacional |
| 12087 | South America | Argentina | Liga Profesional de Fútbol | Instituto | 0 | 0 | dolares | Instituto AC Córdoba | Argentina | Liga Profesional de Fútbol |
| 12072 | South America | Argentina | Liga Profesional de Fútbol | Talleres Córdoba | 0 | 0 | dolares | CA Talleres de Córdoba | Argentina | Liga Profesional de Fútbol |
| 12061 | South America | Argentina | Liga Profesional de Fútbol | Gimnasia La Plata | 0 | 0 | dolares | Gimnasia y Esgrima La Plata | Argentina | Liga Profesional de Fútbol |
| 12099 | South America | Argentina | Liga Profesional de Fútbol | Platense | 0 | 0 | dolares | CA Platense | Argentina | Liga Profesional de Fútbol |
| 12073 | South America | Argentina | Liga Profesional de Fútbol | Vélez Sarsfield | 0 | 0 | dolares | Club Atlético Vélez Sarsfield | Argentina | Liga Profesional de Fútbol |
| 12069 | South America | Argentina | Liga Profesional de Fútbol | River Plate | 0 | 0 | dolares | CA River Plate | Argentina | Liga Profesional de Fútbol |
| 12068 | South America | Argentina | Liga Profesional de Fútbol | Racing Club | 0 | 0 | dolares | Racing Club de Avellaneda | Argentina | Liga Profesional de Fútbol |
| 12071 | South America | Argentina | Liga Profesional de Fútbol | San Lorenzo | 0 | 0 | dolares | CA San Lorenzo de Almagro | Argentina | Liga Profesional de Fútbol |
| 12056 | South America | Argentina | Liga Profesional de Fútbol | Banfield | 0 | 0 | dolares | CA Banfield | Argentina | Liga Profesional de Fútbol |
| 12077 | South America | Argentina | Liga Profesional de Fútbol | CAI | 0 | 0 | dolares | Comisión de Actividades Infantiles de Comodoro Rivadavia | Argentina | Liga Profesional de Fútbol |
| 12085 | South America | Argentina | Liga Profesional de Fútbol | Huracán | 0 | 0 | dolares | CA Huracán | Argentina | Liga Profesional de Fútbol |
| 12062 | South America | Argentina | Liga Profesional de Fútbol | Independiente | 0 | 0 | dolares | CA Independiente | Argentina | Liga Profesional de Fútbol |
| 12132 | South America | Argentina | Liga Profesional de Fútbol | Independiente Rivadavia | 0 | 0 | dolares | CS Independiente Rivadavia | Argentina | Liga Profesional de Fútbol |
| 12190 | South America | Argentina | Liga Profesional de Fútbol | Central Córdoba SdE | 0 | 0 | dolares | CA Central Córdoba de Santiago del Estero | Argentina | Liga Profesional de Fútbol |
| 12057 | South America | Argentina | Liga Profesional de Fútbol | Boca Juniors | 0 | 0 | dolares | CA Boca Juniors | Argentina | Liga Profesional de Fútbol |
| 12136 | South America | Argentina | Liga Profesional de Fútbol | Atlético Tucumán | 0 | 0 | dolares | CA Tucuman | Argentina | Liga Profesional de Fútbol |
| 12084 | South America | Argentina | Liga Profesional de Fútbol | Godoy Cruz | 0 | 0 | dolares | Godoy Cruz Antonio Tomba | Argentina | Liga Profesional de Fútbol |
| 12098 | South America | Argentina | Liga Profesional de Fútbol | Tigre | 0 | 0 | dolares | CA Tigre | Argentina | Liga Profesional de Fútbol |
| 12176 | South America | Argentina | Liga Profesional de Fútbol | Deportivo Riestra | 0 | 0 | dolares | CD Riestra | Argentina | Liga Profesional de Fútbol |
| 12144 | South America | Argentina | Torneo Federal A | Huracán Las Heras | 0 | 0 | dolares | Club Atletico Huracán Las Heras | Argentina | Torneo Federal A |
| 12101 | South America | Argentina | Torneo Federal A | Villa Mitre | 0 | 0 | dolares | Club Villa Mitre | Argentina | Torneo Federal A |
| 12134 | South America | Argentina | Torneo Federal A | 9 de Julio Rafaela | 0 | 0 | dolares | CA 9 de Julio de Rafaela | Argentina | Torneo Federal A |
| 12264 | South America | Argentina | Torneo Federal A | Sarmiento Resistencia | 0 | 0 | dolares | Club Atlético Sarmiento de Resistencia | Argentina | Torneo Federal A |
| 12130 | South America | Argentina | Torneo Federal A | Juventud Unida Univ. | 0 | 0 | dolares | CA Juventud Unida Universitario | Argentina | Torneo Federal A |
| 12188 | South America | Argentina | Torneo Federal A | El Linqueño | 0 | 0 | dolares | Club Atlético El Linqueño | Argentina | Torneo Federal A |
| 12195 | South America | Argentina | Torneo Federal A | Deportivo Roca | 0 | 0 | dolares | Club Social y Deportivo General Roca | Argentina | Torneo Federal A |
| 12263 | South America | Argentina | Torneo Federal A | San Martín Formosa | 0 | 0 | dolares | CS General San Martín de Formosa | Argentina | Torneo Federal A |
| 12218 | South America | Argentina | Torneo Federal A | Boca Unidos | 0 | 0 | dolares | CA Boca Unidos | Argentina | Torneo Federal A |
| 12133 | South America | Argentina | Torneo Federal A | Central Norte | 0 | 0 | dolares | CA Central Norte | Argentina | Torneo Federal A |
| 12210 | South America | Argentina | Primera Nacional | Patronato | 0 | 0 | dolares | CA Patronato de la Juventud Católica | Argentina | Primera Nacional |
| 12125 | South America | Argentina | Torneo Federal A | Deportivo Santamarina | 0 | 0 | dolares | CD Santamarina de Tandil | Argentina | Torneo Federal A |
| 12214 | South America | Argentina | Torneo Federal A | Sportivo Belgrano | 0 | 0 | dolares | CS Belgrano de San Francisco | Argentina | Torneo Federal A |
| 12219 | South America | Argentina | Torneo Federal A | Sol de América | 0 | 0 | dolares | Club Atlético Sol de América de Formosa | Argentina | Torneo Federal A |
| 12231 | South America | Argentina | Torneo Federal A | Atenas | 0 | 0 | dolares | Club Sportivo y Biblioteca Atenas | Argentina | Torneo Federal A |
| 12181 | South America | Argentina | Torneo Federal A | Independiente Neuquén | 0 | 0 | dolares | CA Independiente de Neuquén | Argentina | Torneo Federal A |
| 12082 | South America | Argentina | Torneo Federal A | Gimnasia Concepción | 0 | 0 | dolares | Club Gimnasia y Esgrima de Concepción del Uruguay | Argentina | Torneo Federal A |
| 12252 | South America | Argentina | Torneo Federal A | Sarmiento de La Banda | 0 | 0 | dolares | Club Atlético Sarmiento de La Banda | Argentina | Torneo Federal A |
| 12236 | South America | Argentina | Torneo Federal A | Defensores Belgrano VR | 0 | 0 | dolares | CAyS Defensores de Belgrano de Villa Ramallo | Argentina | Torneo Federal A |
| 12088 | South America | Argentina | Torneo Federal A | Juventud Antoniana | 0 | 0 | dolares | Centro Juventud Antoniana | Argentina | Torneo Federal A |
| 68166 | South America | Argentina | Torneo Federal A | Ciudad de Bolívar | 0 | 0 | dolares | Club Ciudad de Bolívar | Argentina | Torneo Federal A |
| 12268 | South America | Argentina | Torneo Federal A | Ferro Carril Oeste LP | 0 | 0 | dolares | CA Ferro Carril Oeste General Pico | Argentina | Torneo Federal A |
| 12131 | South America | Argentina | Torneo Federal A | Sportivo Desamparados | 0 | 0 | dolares | CS Desamparados | Argentina | Torneo Federal A |
| 12201 | South America | Argentina | Torneo Federal A | Villa Mitre | 0 | 0 | dolares | Club Villa Mitre | Argentina | Torneo Federal A |
| 12261 | South America | Argentina | Torneo Federal A | Def. de Pronunciamiento | 0 | 0 | dolares | Club Defensores de Pronunciamiento | Argentina | Torneo Federal A |
| 12235 | South America | Argentina | Torneo Federal A | Liniers Bahía Blanca | 0 | 0 | dolares | CA Liniers de Bahía Blanca | Argentina | Torneo Federal A |
| 12139 | South America | Argentina | Torneo Federal A | Sportivo Patria | 0 | 0 | dolares | Club Sportivo Patria | Argentina | Torneo Federal A |
| 12232 | South America | Argentina | Torneo Federal A | Tiro Federal Morteros | 0 | 0 | dolares | Club Tiro Federal y Deportivo Morteros | Argentina | Torneo Federal A |
| 12189 | South America | Argentina | Primera Nacional | Chaco For Ever | 0 | 0 | dolares | Club Atlético Chaco For Ever | Argentina | Primera Nacional |
| 12119 | South America | Argentina | Primera Nacional | Temperley | 0 | 0 | dolares | CA Temperley | Argentina | Primera Nacional |
| 12153 | South America | Argentina | Primera Nacional | San Miguel | 0 | 0 | dolares | CA San Miguel | Argentina | Primera Nacional |
| 12103 | South America | Argentina | Primera Nacional | Almirante Brown | 0 | 0 | dolares | Club Almirante Brown | Argentina | Primera Nacional |
| 12090 | South America | Argentina | Torneo Federal A | San Martín Mendoza | 0 | 0 | dolares | Atlético Club San Martín de Mendoza | Argentina | Torneo Federal A |
| 12118 | South America | Argentina | Primera Nacional | Talleres Remedios | 0 | 0 | dolares | CA Talleres Remedios de Escalada | Argentina | Primera Nacional |

In [66]:
pattern2 = r'\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|'
matches2 = re.findall(pattern2, full_response2)

# Convierte los datos en un DataFrame de pandas y asigna las columnas correctamente
dfunion2 = pd.DataFrame(matches2)#, columns=[club | liga | pais | wyId | officialName | name | area_name | domestic_competition_name ])

dfunion2 = dfunion2[~dfunion2.eq('---').all(axis=1)]
dfunion2.columns = dfunion2.iloc[0]  # La primera fila se convierte en nombres de columna
dfunion2 = dfunion2[1:]
# Resetea el índice
dfunion2.reset_index(drop=True, inplace=True)

dfunion2.head()

,wyId,region,pais,liga,club,weeklyavg,annualavg,moneda,officialName,area_name,domestic_competition_name
0,12397,South America,Colombia,Liga BetPlay,Pasto,3314,172308,dolares,Asociación Deportivo Pasto,Colombia,Liga BetPlay
1,12405,South America,Colombia,Liga BetPlay,Envigado,3183,165517,dolares,Envigado FC,Colombia,Liga BetPlay
2,12392,South America,Colombia,Liga BetPlay,Once Caldas,3762,195625,dolares,Once Caldas SA,Colombia,Liga BetPlay
3,12425,South America,Colombia,Liga BetPlay,Alianza,3293,171250,dolares,Alianza FC,Colombia,Liga BetPlay
4,12421,South America,Colombia,Liga BetPlay,Patriotas Boyacá,2543,132258,dolares,Corporación Deportiva Patriotas FC,Colombia,Liga BetPlay

In [67]:
dfunion2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   wyId                       185 non-null    object
 1   region                     185 non-null    object
 2   pais                       185 non-null    object
 3   liga                       185 non-null    object
 4   club                       185 non-null    object
 5   weeklyavg                  185 non-null    object
 6   annualavg                  185 non-null    object
 7   moneda                     185 non-null    object
 8   officialName               185 non-null    object
 9   area_name                  185 non-null    object
 10  domestic_competition_name  185 non-null    object
dtypes: object(11)
memory usage: 16.0+ KB

ya no me da mas bien lo q me daba bien antes

In [69]:
prompt5 = f"""Sos un agente que analiza datos necesito que generes una tabla con la union de la informacion de dos tablas, a partir del analisis de 2 tablas.
La primera tabla contiene las columnas region, club, liga, pais de 570 clubes y la segunda tabla contiene las columnas  wyId, officialName,name, area_name y comestic_competition_name con 28425 valores. Lo que yo necesito que hagas es, encontrar las coincidencias
entre todos los valores de las columnas y a partir de esas coincidencias obtener el valor del id en el campo "wyId" de la segunda tabla
estas son las tablas: {dftext} y {dftext2}
Es decir solamente tienen que quedar en el resultado, los valores que coinciden dentro de las dos tablas con su ID, deberian ser la misma cantidad de valores que la tabla inicial
   """
# Generar la respuesta utilizando el prompt actualizado
responses5 = model.generate_content(prompt5, generation_config=generation_config, stream=True)

# Inicializar una variable para almacenar el resultado completo
full_response5 = ""

# Recopilar y unir todas las partes de la respuesta
for response5 in responses5:
    full_response5 += response5.text

# Imprimir o usar la respuesta completa almacenada en la variable
print(full_response5)

Entiendo perfectamente lo que necesitas. Para unir la información de ambas tablas y obtener el "wyId" correspondiente a cada club, necesitas realizar una unión basada en las coincidencias entre los valores de las columnas.

Sin embargo, para poder generar la tabla de unión, necesito que me proporciones la segunda tabla con los datos de "wyId, officialName, name, area_name y comestic_competition_name".

Una vez que me proporciones la segunda tabla, puedo realizar la unión y generar la tabla resultante con las columnas:

* **region**
* **pais**
* **liga**
* **club**
* **weeklyavg**
* **annualavg**
* **moneda**
* **wyId**

**Ejemplo de cómo se vería la tabla resultante:**

| region | pais | liga | club | weeklyavg | annualavg | moneda | wyId |
|---|---|---|---|---|---|---|---|
| Asia | Arabia Saudita | Saudi Pro League | Al Ahli | 106842 | 5555806 | euros | 16465 |
| Asia | Arabia Saudita | Saudi Pro League | Al Ettifaq | 40740 | 2118462 | euros | 16468 |
| Asia | Arabia Saudita | Saudi Pro League | Al Hilal | 212861 | 11068750 | euros | 16467 |
| Asia | Arabia Saudita | Saudi Pro League | Al Ittihad | 111684 | 5807576 | euros | 16469 |
| Asia | Arabia Saudita | Saudi Pro League | Al Nassr | 213994 | 11127667 | euros | 16470 |
| Asia | Arabia Saudita | Saudi Pro League | Al Shabab | 18109 | 941667 | euros | 16472 |
| Europa | Italia | Serie A | AC Milan | 67415 | 3505556 | euros | 3168 |
| Europa | Italia | Serie A | Atalanta | 40057 | 2082963 | euros | 3172 |
| Europa | Italia | Serie A | Bologna | 18112 | 941818 | euros | 3166 |
| ... | ... | ... | ... | ... | ... | ... | ... |

**Recuerda que la tabla resultante solo incluirá los clubes que coincidan en ambas tablas.**

Por favor, proporciona la segunda tabla para que pueda generar la tabla de unión.

In [ ]:
matches = re.findall(r'\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|', full_response)

# Convierte los datos en un DataFrame de pandas y asigna las columnas correctamente
df3 = pd.DataFrame(matches)#, columns=[club | liga | pais | wyId | officialName | name | area_name | domestic_competition_name ])

df3 = df3[~df3.eq('---').all(axis=1)]
df3.columns = df3.iloc[0]  # La primera fila se convierte en nombres de columna
df3 = df3[1:]
# Resetea el índice
df3.reset_index(drop=True, inplace=True)

print(df3)

0                club                      liga            pais   wyId  \
0    Inhulets Petrove  Ukrainian Premier League         Ucrania  37291
1               Minaj  Ukrainian Premier League         Ucrania  62921
2           Rukh Lviv  Ukrainian Premier League         Ucrania  38304
3             Al Ahli          Saudi Pro League  Arabia Saudita  16465
4          Al Ettifaq          Saudi Pro League  Arabia Saudita  16468
..                ...                       ...             ...    ...
250               AIK               Allsvenskan          Suecia   6716
251    Brommapojkarna               Allsvenskan          Suecia   6725
252       Djurgardens               Allsvenskan          Suecia   6713
253          Elfsborg               Allsvenskan          Suecia   6721
254              GAIS               Allsvenskan          Suecia   6732

0              officialName                    name     area_name  \
0    Sdyushor Mykolayiv U17  Sdyushor Mykolayiv U17       Ukraine
1                  FK Minaj                FK Minaj       Ukraine
2              FC Rukh Lviv            FC Rukh Lviv       Ukraine
3       Al Ahli SC (Jeddah)     Al Ahli SC (Jeddah)  Saudi Arabia
4    Al Ettifaq FC (Dammam)  Al Ettifaq FC (Dammam)  Saudi Arabia
..                      ...                     ...           ...
250                     AIK             AIK Fotboll        Sweden
251          Brommapojkarna       IF Brommapojkarna        Sweden
252              Djurgården          Djurgårdens IF        Sweden
253                Elfsborg             IF Elfsborg        Sweden
254                    GAIS                    GAIS        Sweden

0   domestic_competition_name
0
1                 Persha Liga
2                 VBET League
3                  Pro League
4                  Pro League
..                        ...
250               Allsvenskan
251               Allsvenskan
252               Allsvenskan
253               Allsvenskan
254               Allsvenskan

[255 rows x 8 columns]

subo a BQ

In [ ]:
# Especifica tu ID de proyecto
project_id = 'ldp-data-wyscout'

# Crear un cliente de BigQuery con el proyecto especificado
client = bigquery.Client(project=project_id)

# Especificar la tabla de destino en el formato dataset.tabla
table_id = 'ldp-data-wyscout.capology.teamidcapology'

# Configurar la carga de datos
job_config = bigquery.LoadJobConfig(
    write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE,  # Reemplaza la tabla si ya existe
)

# Guardar el DataFrame en BigQuery
job = client.load_table_from_dataframe(df3, table_id, job_config=job_config)
job.result()  # Esperar a que el trabajo termine

print(f"Los datos han sido cargados en la tabla {table_id}.")

Los datos han sido cargados en la tabla ldp-data-wyscout.capology.teamidcapology.

In [70]:
prompt0 = f"""Sos un agente que analiza datos necesito que generes una tabla con la union de la informacion de dos tablas, a partir del analisis de estas 2 tablas.
La primera tabla contiene las columnas club, liga, pais de 570 clubes y la segunda tabla contiene las columnas wyId, officialName,name, area_name y domestic_competition_name con 28425 valores. Lo que yo necesito que hagas es, encontrar las coincidencias
entre todos los valores de las columnas y a partir de esas coincidencias obtener el valor del id en el campo "wyId" de la segunda tabla
estas son las tablas: {dftext} y {dftext2}.
Es decir solamente tienen que quedar en el resultado, los valores que coinciden dentro de las dos tablas con su ID, deberian ser la misma cantidad de valores que la tabla inicial es decir 570. La tabla resultado tiene que tener todos los campos.
Las coincidencias de no se exactas pueden ser parciales, por ejemplo aclaraciones:
El campo name u officialName con club, puede ser que en club el contenido se mas abreviado, pero si encontramos la palabra que coincide es valido.
El campo pais con area_name, tiene como diferencia el idioma asique puede ser que la coincidencia sea en otro idioma.
El campo liga, esta completo en la primera tabla, pero en la segunda no siempre esta completo.
La prioridad seria encontrar la coincidencia en el nombre del club, luego para continuar el match, que coincida con el pais o area_name, luego con la liga o domestic_competition.
y los que no se encuentra coincidencias, aclararlo tambien.
Es importante tener en cuenta que lo que queremos lograr con esto es obtener el wyId de la segunda tabla para que nos provea informacion a la primera tabla, en la cual no lo tenemos.
   """
# Generar la respuesta utilizando el prompt actualizado
responses0 = model.generate_content(prompt0, generation_config=generation_config, stream=True)

# Inicializar una variable para almacenar el resultado completo
full_response0 = ""

# Recopilar y unir todas las partes de la respuesta
for responses0 in responses0:
    full_response0 += responses0.text

# Imprimir o usar la respuesta completa almacenada en la variable
print(full_response0)

Entiendo perfectamente lo que necesitas. Para generar la tabla con la unión de la información de las dos tablas, necesito analizar cada fila de la primera tabla y buscar la coincidencia en la segunda tabla, teniendo en cuenta las prioridades que has establecido.

**Aquí te presento un ejemplo de cómo se podría estructurar la tabla resultante:**

| Club | Liga | País | wyId | officialName | name | area_name | domestic_competition_name | region |
|---|---|---|---|---|---|---|---|---|
| Inhulets Petrove | Ukrainian Premier League | Ucrania | 14532 | FC Inhulets Petrove | Inhulets Petrove | Ukraine | Ukrainian Premier League | Europe |
| Minaj | Ukrainian Premier League | Ucrania | 14557 | FK Minaj | Minaj | Ukraine | Ukrainian Premier League | Europe |
| Rukh Lviv | Ukrainian Premier League | Ucrania | 14534 | FC Rukh Lviv | Rukh Lviv | Ukraine | Ukrainian Premier League | Europe |
| Al Ahli | Saudi Pro League | Arabia Saudita | 16465 | Al Ahli SC (Jeddah) | Al Ahli | Saudi Arabia | Saudi Pro League | Asia |
| Al Ettifaq | Saudi Pro League | Arabia Saudita | 16468 | Al Ettifaq FC (Dammam) | Al Ettifaq | Saudi Arabia | Saudi Pro League | Asia |
| Al Hilal | Saudi Pro League | Arabia Saudita | 16467 | Al Hilal FC (Riyadh) | Al Hilal | Saudi Arabia | Saudi Pro League | Asia |
| Al Ittihad | Saudi Pro League | Arabia Saudita | 16469 | Al Ittihad FC (Jeddah) | Al Ittihad | Saudi Arabia | Saudi Pro League | Asia |
| Al Nassr | Saudi Pro League | Arabia Saudita | 16470 | Al Nassr FC | Al Nassr | Saudi Arabia | Saudi Pro League | Asia |
| Al Shabab | Saudi Pro League | Arabia Saudita | 16472 | Al Shabab FC (Riyadh) | Al Shabab | Saudi Arabia | Saudi Pro League | Asia |
| AC Milan | Serie A | Italia | 3168 | US Lecce | Lecce | Italy | Serie A | Europe |
| Atalanta | Serie A | Italia | 3172 | Atalanta Bergamasca Calcio | Atalanta | Italy | Serie A | Europe |
| Bologna | Serie A | Italia | 3166 | Bologna FC 1909 | Bologna | Italy | Serie A | Europe |
| Cagliari | Serie A | Italia | 3173 | Cagliari Calcio | Cagliari | Italy | Serie A | Europe |
| Como | Serie A | Italia | 3200 | Calcio Como 1907 | Como | Italy | Serie A | Europe |
| Empoli | Serie A | Italia | 3178 | Empoli FC | Empoli | Italy | Serie A | Europe |
| Fiorentina | Serie A | Italia | 3176 | ACF Fiorentina | Fiorentina | Italy | Serie A | Europe |
| Genoa | Serie A | Italia | 3193 | Genoa CFC | Genoa | Italy | Serie A | Europe |
| Hellas Verona | Serie A | Italia | 3194 | Hellas Verona FC | Hellas Verona | Italy | Serie A | Europe |
| Inter Milan | Serie A | Italia | 3161 | FC Internazionale Milano | Inter Milan | Italy | Serie A | Europe |
| Juventus | Serie A | Italia | 3159 | Juventus FC | Juventus | Italy | Serie A | Europe |
| Lazio | Serie A | Italia | 3162 | SS Lazio | Lazio | Italy | Serie A | Europe |
| Lecce | Serie A | Italia | 3168 | US Lecce | Lecce | Italy | Serie A | Europe |
| Monza | Serie A | Italia | 3236 | Associazione Calcio Monza | Monza | Italy | Serie A | Europe |
| Napoli | Serie A | Italia | 3187 | SSC Napoli | Napoli | Italy | Serie A | Europe |
| Parma | Serie A | Italia | 3160 | Parma Calcio 1913 | Parma | Italy | Serie A | Europe |
| Roma | Serie A | Italia | 3158 | AS Roma | Roma | Italy | Serie A | Europe |
| Torino | Serie A | Italia | 3185 | Torino FC | Torino | Italy | Serie A | Europe |
| Udinese | Serie A | Italia | 3163 | Udinese Calcio | Udinese | Italy | Serie A | Europe |
| Venezia | Serie A | Italia | 3191 | Venezia Football Club | Venezia | Italy | Serie A | Europe |
| ... | ... | ... | ... | ... | ... | ... | ... | ... |

**Explicación del proceso:**

1. **Coincidencia por nombre del club:** Se busca la coincidencia exacta o parcial del nombre del club en la primera tabla con los campos "name" u "officialName" de la segunda tabla.
2. **Coincidencia por país:** Si no se encuentra una coincidencia exacta en el nombre del club, se busca una coincidencia entre el campo "País" de la primera tabla y el campo "area_name" de la segunda tabla. Se debe tener en cuenta que los nombres de los países pueden estar en diferentes idiomas.
3. **Coincidencia por liga:** Si no se encuentra una coincidencia en el nombre del club o el país, se busca una coincidencia entre el campo "Liga" de la primera tabla y el campo "domestic_competition_name" de la segunda tabla. Se debe tener en cuenta que la liga en la segunda tabla puede estar incompleta.
4. **No se encuentra coincidencia:** Si no se encuentra ninguna coincidencia en los tres pasos anteriores, se debe indicar en la tabla resultante que no se encontró una coincidencia para ese club.

**Herramientas para la unión de tablas:**

* **SQL:** Si las tablas están en una base de datos, se puede utilizar una consulta SQL JOIN para unir las tablas.
* **Python:** Se puede utilizar la librería Pandas para leer las tablas, realizar la búsqueda de coincidencias y generar la tabla resultante.
* **Excel:** Se puede utilizar la función BUSCARV para buscar coincidencias entre las dos tablas.

**Recomendaciones:**

* **Limpieza de datos:** Es importante limpiar los datos de ambas tablas antes de realizar la unión. Esto incluye eliminar espacios en blanco, convertir los nombres a un formato consistente y corregir errores ortográficos.
* **Uso de herramientas de análisis de datos:** Se pueden utilizar herramientas de análisis de datos como Tableau o Power BI para visualizar los resultados de la unión de tablas y obtener información adicional.

**Recuerda que este es un ejemplo general. El proceso específico para unir las tablas dependerá de la estructura de los datos y las herramientas que se utilicen.**

In [ ]:
matches = re.findall(r'\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|\s*(.*?)\s*\|', full_response2)

# Convierte los datos en un DataFrame de pandas y asigna las columnas correctamente
df4 = pd.DataFrame(matches)#, columns=[club | liga | pais | wyId | officialName | name | area_name | domestic_competition_name ])

df4 = df4[~df4.eq('---').all(axis=1)]
df4.columns = df4.iloc[0]  # La primera fila se convierte en nombres de columna
df4 = df4[1:]
# Resetea el índice
df4.reset_index(drop=True, inplace=True)

print(df4)

In [ ]:
# Especifica tu ID de proyecto
project_id = 'ldp-data-wyscout'

# Crear un cliente de BigQuery con el proyecto especificado
client = bigquery.Client(project=project_id)

# Especificar la tabla de destino en el formato dataset.tabla
table_id = 'ldp-data-wyscout.capology.2teamidcapology'

# Configurar la carga de datos
job_config = bigquery.LoadJobConfig(
    write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE,  # Reemplaza la tabla si ya existe
)

# Guardar el DataFrame en BigQuery
job = client.load_table_from_dataframe(df4, table_id, job_config=job_config)
job.result()  # Esperar a que el trabajo termine

print(f"Los datos han sido cargados en la tabla {table_id}.")

Los datos han sido cargados en la tabla ldp-data-wyscout.capology.2teamidcapology.

In [76]:


# Supongamos que tus tablas están en archivos CSV
#df1 = pd.read_csv('tabla1.csv')
#df2 = pd.read_csv('tabla2.csv')

# Normalizar los nombres en ambas tablas
df1['club'] = df1['club'].str.lower().str.strip()
df1['liga'] = df1['liga'].str.lower().str.strip()
df1['pais'] = df1['pais'].str.lower().str.strip()
df1['region'] = df1['region'].str.lower().str.strip()

df2['name'] = df2['name'].str.lower().str.strip()
df2['officialName'] = df2['officialName'].str.lower().str.strip()
df2['domestic_competition_name'] = df2['domestic_competition_name'].str.lower().str.strip()
df2['area_name'] = df2['area_name'].str.lower().str.strip()
df2['region'] = df2['region'].str.lower().str.strip()

# Función para encontrar la mejor coincidencia en una lista
def get_best_match(value, choices):
    match, score = process.extractOne(value, choices, scorer=fuzz.token_sort_ratio)
    return match if score >= 80 else None

# Encontrar el ID de los clubes en la segunda tabla
df1['wyId'] = df1['club'].apply(lambda x: get_best_match(x, df2['name'].tolist()))

# Merge basado en la columna 'wyId' para obtener la información completa
merged_df = pd.merge(df, df2, left_on='wyId', right_on='name', how='inner', suffixes=('_tabla1', '_tabla2'))

# Filtrar columnas y organizar el DataFrame final
final_columns = [
    'region_tabla1', 'pais_tabla1', 'liga_tabla1', 'club_tabla1', 
    'weeklyavg', 'annualavg', 'moneda', 'wyId', 'name', 
    'officialName', 'area_name', 'domestic_competition_name', 'region_tabla2'
]
final_df = merged_df[final_columns]

# Renombrar columnas para claridad
final_df.columns = [
    'region', 'pais', 'liga', 'club', 
    'weeklyavg', 'annualavg', 'moneda', 'wyId', 'name', 
    'officialName', 'area_name', 'domestic_competition_name', 'region'
]

# Guardar o imprimir el DataFrame final
final_df.to_csv('tabla_combinada.csv', index=False)
print(final_df)

KeyError: "['pais_tabla1', 'liga_tabla1', 'club_tabla1', 'wyId'] not in index"

In [77]:
# Verifica los nombres de las columnas en merged_df
print(merged_df.columns)

Index(['region_tabla1', 'pais', 'liga', 'club', 'weeklyavg', 'annualavg',
       'moneda', 'wyId_tabla1', 'wyId_tabla2', 'name', 'officialName',
       'area_name', 'domestic_competition_name', 'region_tabla2'],
      dtype='object')

UNION DE DF CON LOS PAISES EN INGLES DE LA TABLA SALARIOS_COPY CON DICT TEAMS USANDO FUZZY----

In [75]:
# Normalizar los nombres en ambas tablas
df22['club'] = df22['club'].str.lower().str.strip()
df22['liga'] = df22['liga'].str.lower().str.strip()
df22['pais'] = df22['pais'].str.lower().str.strip()
df22['region'] = df22['region'].str.lower().str.strip()

df2['name'] = df2['name'].str.lower().str.strip()
df2['officialName'] = df2['officialName'].str.lower().str.strip()
df2['domestic_competition_name'] = df2['domestic_competition_name'].str.lower().str.strip()
df2['area_name'] = df2['area_name'].str.lower().str.strip()
df2['region'] = df2['region'].str.lower().str.strip()

# Función para encontrar la mejor coincidencia en una lista
def get_best_match(value, choices):
    match, score = process.extractOne(value, choices, scorer=fuzz.token_sort_ratio)
    return match if score >= 60 else None

# Encontrar el ID de los clubes en la segunda tabla
df22['wyId'] = df22['club'].apply(lambda x: get_best_match(x, df2['name'].tolist()))

# Mapear los nombres encontrados a los IDs reales en df2
name_to_wyId = dict(zip(df2['name'], df2['wyId']))
df22['wyId'] = df22['wyId'].map(name_to_wyId)

# Merge basado en la columna 'wyId' para obtener la información completa
merged_df = pd.merge(df22, df2, left_on='wyId', right_on='wyId', how='inner', suffixes=('_tabla1', '_tabla2'))

# Verifica cómo se ve el merge
print(merged_df[['club', 'wyId', 'name', 'officialName']].head(10))

# Filtrar columnas y organizar el DataFrame final
final_columns2 = [
    'region_tabla1', 'pais', 'liga', 'club', 
    'weeklyavg', 'annualavg', 'moneda', 'wyId', 'name', 
    'officialName', 'area_name', 'domestic_competition_name', 'region_tabla2'
]

# Asegúrate de que las columnas existen en el DataFrame
missing_columns = [col for col in final_columns2 if col not in merged_df.columns]
if missing_columns:
    print(f"Missing columns: {missing_columns}")

# Seleccionar solo las columnas presentes en merged_df
final_columns2_existing = [col for col in final_columns2 if col in merged_df.columns]
final_df2 = merged_df[final_columns2_existing]

# Renombrar columnas para claridad
final_df2.rename(columns={
    'region_tabla1': 'region',
    'pais': 'pais',
    'liga': 'liga',
    'club': 'club',
    'weeklyavg': 'weeklyavg',
    'annualavg': 'annualavg',
    'moneda': 'moneda',
    'wyId': 'wyId',
    'name': 'name',
    'officialName': 'officialName',
    'area_name': 'area_name',
    'domestic_competition_name': 'domestic_competition_name',
    'region_tabla2': 'region'
}, inplace=True)

# Guardar o imprimir el DataFrame final
final_df2.to_csv('tabla_combinada.csv', index=False)
print(final_df2)

                   club   wyId                 name  \
0                  lafc    100                  afc
1          orlando city   8068         orlando city
2          nashville sc  30149         nashville sc
3             dc united   7852            dc united
4         new york city  32556        new york city
5  sporting kansas city  35493      sporting canamy
6    philadelphia union   8061   philadelphia union
7                austin  58325            blaustein
8   vancouver whitecaps  15015  vancouver whitecaps
9         fc cincinnati  37892           cincinnati

                  officialName
0  amsterdamsche football club
1              orlando city sc
2                 nashville sc
3                    dc united
4             new york city fc
5         club sporting canamy
6           philadelphia union
7                tsv blaustein
8       vancouver whitecaps fc
9                fc cincinnati
                    region           pais         liga           club  \
0    central/north america  united states          mls           lafc
1    central/north america  united states          mls   orlando city
2    central/north america  united states          mls   nashville sc
3    central/north america  united states          mls      dc united
4    central/north america  united states          mls  new york city
..                     ...            ...          ...            ...
565                 europe        denmark  superligaen    midtjylland
566                 europe        denmark  superligaen    sonderjyske
567                 europe        denmark  superligaen    sonderjyske
568                 europe        denmark  superligaen  nordsjaelland
569                 europe        denmark  superligaen  nordsjaelland

     weeklyavg  annualavg   moneda   wyId           name  \
0         9330     485154  dolares    100            afc
1         8178     425248  dolares   8068   orlando city
2        11651     605862  dolares  30149   nashville sc
3         9577     498012  dolares   7852      dc united
4         8512     442640  dolares  32556  new york city
..         ...        ...      ...    ...            ...
565       6274     326250    euros   7455    midtjylland
566         62       3214    euros   7499    sønderjyske
567         62       3214    euros   7499    sønderjyske
568       3830     199167    euros   7458   nordsjælland
569       3830     199167    euros   7458   nordsjælland

                    officialName      area_name domestic_competition_name  \
0    amsterdamsche football club    netherlands            tweede divisie
1                orlando city sc  united states                       mls
2                   nashville sc  united states                       mls
3                      dc united  united states                       mls
4               new york city fc  united states                       mls
..                           ...            ...                       ...
565               fc midtjylland        denmark                 superliga
566                  sønderjyske        denmark                 superliga
567                  sønderjyske        denmark                 superliga
568              fc nordsjælland        denmark                 superliga
569              fc nordsjælland        denmark                 superliga

                    region
0                europe eu
1    central/north america
2    central/north america
3    central/north america
4    central/north america
..                     ...
565              europe eu
566              europe eu
567              europe eu
568              europe eu
569              europe eu

[570 rows x 13 columns]

In [76]:
# Renombrar columnas duplicadas sino me da error al intentar subirlo a BQ
final_df2.columns = [
    'region_tabla1','pais','liga','club', 
    'weeklyavg', 'annualavg', 'moneda', 'wyId', 'name', 
    'officialName', 'area_name','domestic_competition_name' ,'region_tabla2'
]

In [77]:
from google.cloud import bigquery

# Especifica tu ID de proyecto
project_id = 'ldp-data-wyscout'

# Crear un cliente de BigQuery con el proyecto especificado
client = bigquery.Client(project=project_id)

# Especificar la tabla de destino en el formato dataset.tabla
table_id = 'ldp-data-wyscout.capology.fuzzy2'

# Configurar la carga de datos
job_config = bigquery.LoadJobConfig(
    write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE,  # Reemplaza la tabla si ya existe
)

# Guardar el DataFrame en BigQuery
job = client.load_table_from_dataframe(final_df2, table_id, job_config=job_config)
job.result()  # Esperar a que el trabajo termine

print(f"Los datos han sido cargados en la tabla {table_id}.")

Los datos han sido cargados en la tabla ldp-data-wyscout.capology.fuzzy2.

sin liga

In [67]:
df22['club'] = df22['club'].str.lower().str.strip()
df22['pais'] = df22['pais'].str.lower().str.strip()
df22['region'] = df22['region'].str.lower().str.strip()

df2['name'] = df2['name'].str.lower().str.strip()
df2['officialName'] = df2['officialName'].str.lower().str.strip()
df2['area_name'] = df2['area_name'].str.lower().str.strip()
df2['region'] = df2['region'].str.lower().str.strip()

# Función para encontrar la mejor coincidencia en una lista
def get_best_match(value, choices):
    match, score = process.extractOne(value, choices, scorer=fuzz.token_sort_ratio)
    return match if score >= 70 else None

# Encontrar el ID de los clubes en la segunda tabla
df22['wyId'] = df22['club'].apply(lambda x: get_best_match(x, df2['name'].tolist()))

# Mapear los nombres encontrados a los IDs reales en df2
name_to_wyId = dict(zip(df2['name'], df2['wyId']))
df22['wyId'] = df22['wyId'].map(name_to_wyId)

# Merge basado en la columna 'wyId' para obtener la información completa
merged_df = pd.merge(df22, df2, on='wyId', how='inner', suffixes=('_tabla1', '_tabla2'))

# Verifica cómo se ve el merge
print(merged_df[['club', 'wyId', 'name', 'officialName']].head(10))

# Filtrar columnas y organizar el DataFrame final
final_columns2 = [
    'region_tabla1', 'pais', 'club', 
    'weeklyavg', 'annualavg', 'moneda', 'wyId', 'name', 
    'officialName', 'area_name', 'region_tabla2'
]

# Asegúrate de que las columnas existen en el DataFrame
missing_columns = [col for col in final_columns2 if col not in merged_df.columns]
if missing_columns:
    print(f"Missing columns: {missing_columns}")

# Seleccionar solo las columnas presentes en merged_df
final_columns2_existing = [col for col in final_columns2 if col in merged_df.columns]
final_df2 = merged_df[final_columns2_existing]

# Renombrar columnas para claridad
final_df2.rename(columns={
    'region_tabla1': 'region',
    'pais': 'pais',
    'club': 'club',
    'weeklyavg': 'weeklyavg',
    'annualavg': 'annualavg',
    'moneda': 'moneda',
    'wyId': 'wyId',
    'name': 'name',
    'officialName': 'officialName',
    'area_name': 'area_name',
    'region_tabla2': 'region'
}, inplace=True)

# Guardar o imprimir el DataFrame final
final_df2.to_csv('tabla_combinada.csv', index=False)
print(final_df2)

                   club     wyId                 name  \
0                  lafc    100.0                  afc
1          orlando city   8068.0         orlando city
2          nashville sc  30149.0         nashville sc
3             dc united   7852.0            dc united
4         new york city  32556.0        new york city
5  sporting kansas city  35493.0      sporting canamy
6    philadelphia union   8061.0   philadelphia union
7                austin  58325.0            blaustein
8   vancouver whitecaps  15015.0  vancouver whitecaps
9         fc cincinnati  37892.0           cincinnati

                  officialName
0  amsterdamsche football club
1              orlando city sc
2                 nashville sc
3                    dc united
4             new york city fc
5         club sporting canamy
6           philadelphia union
7                tsv blaustein
8       vancouver whitecaps fc
9                fc cincinnati
                    region           pais           club  weeklyavg  \
0    central/north america  united states           lafc       9330
1    central/north america  united states   orlando city       8178
2    central/north america  united states   nashville sc      11651
3    central/north america  united states      dc united       9577
4    central/north america  united states  new york city       8512
..                     ...            ...            ...        ...
545                 europe        denmark    midtjylland       6274
546                 europe        denmark    sonderjyske         62
547                 europe        denmark    sonderjyske         62
548                 europe        denmark  nordsjaelland       3830
549                 europe        denmark  nordsjaelland       3830

     annualavg   moneda     wyId           name                 officialName  \
0       485154  dolares    100.0            afc  amsterdamsche football club
1       425248  dolares   8068.0   orlando city              orlando city sc
2       605862  dolares  30149.0   nashville sc                 nashville sc
3       498012  dolares   7852.0      dc united                    dc united
4       442640  dolares  32556.0  new york city             new york city fc
..         ...      ...      ...            ...                          ...
545     326250    euros   7455.0    midtjylland               fc midtjylland
546       3214    euros   7499.0    sønderjyske                  sønderjyske
547       3214    euros   7499.0    sønderjyske                  sønderjyske
548     199167    euros   7458.0   nordsjælland              fc nordsjælland
549     199167    euros   7458.0   nordsjælland              fc nordsjælland

         area_name                 region
0      netherlands              europe eu
1    united states  central/north america
2    united states  central/north america
3    united states  central/north america
4    united states  central/north america
..             ...                    ...
545        denmark              europe eu
546        denmark              europe eu
547        denmark              europe eu
548        denmark              europe eu
549        denmark              europe eu

[550 rows x 11 columns]

C:\Users\flori\AppData\Local\Temp\ipykernel_23592\771867300.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df2.rename(columns={

In [72]:
# Renombrar columnas duplicadas sino me da error al intentar subirlo a BQ
final_df2.columns = [
    'region_tabla1', 'pais','club', 
    'weeklyavg', 'annualavg', 'moneda', 'wyId', 'name', 
    'officialName', 'area_name', 'region_tabla2'
]

ValueError: Length mismatch: Expected axis has 11 elements, new values have 13 elements

In [74]:
from fuzzywuzzy import process, fuzz
import pandas as pd

# Normalizar las columnas
df22['club'] = df22['club'].str.lower().str.strip()
df22['pais'] = df22['pais'].str.lower().str.strip()
df22['region'] = df22['region'].str.lower().str.strip()

df2['name'] = df2['name'].str.lower().str.strip()
df2['officialName'] = df2['officialName'].str.lower().str.strip()
df2['area_name'] = df2['area_name'].str.lower().str.strip()
df2['region'] = df2['region'].str.lower().str.strip()

# Función para encontrar la mejor coincidencia
def get_best_match(value, choices):
    match, score = process.extractOne(value, choices, scorer=fuzz.token_sort_ratio)
    return match if score >= 80 else None

# Inicializar una lista para almacenar los IDs
df22['wyId'] = None

# Priorizar los matchings
for column in ['club', 'pais', 'region']:
    if column == 'club':
        df22['wyId'] = df22['club'].apply(lambda x: get_best_match(x, df2['name'].tolist()))
    elif column == 'pais':
        # Solo buscar si no hay match en club
        df22.loc[df22['wyId'].isnull(), 'wyId'] = df22.loc[df22['wyId'].isnull(), 'pais'].apply(
            lambda x: get_best_match(x, df2['area_name'].tolist())
        )
    elif column == 'region':
        # Solo buscar si no hay match en pais
        df22.loc[df22['wyId'].isnull(), 'wyId'] = df22.loc[df22['wyId'].isnull(), 'region'].apply(
            lambda x: get_best_match(x, df2['region'].tolist())
        )

# Mapear los nombres encontrados a los IDs reales en df2
name_to_wyId = dict(zip(df2['name'], df2['wyId']))
df22['wyId'] = df22['wyId'].map(name_to_wyId)

# Merge basado en la columna 'wyId'
merged_df = pd.merge(df22, df2, on='wyId', how='inner', suffixes=('_tabla1', '_tabla2'))

# Verifica cómo se ve el merge
print(merged_df[['club', 'wyId', 'name', 'officialName']].head(10))

# Filtrar columnas y organizar el DataFrame final
final_columns2 = [
    'region_tabla1', 'pais', 'club', 
    'weeklyavg', 'annualavg', 'moneda', 'wyId', 'name', 
    'officialName', 'area_name', 'region_tabla2'
]

# Asegúrate de que las columnas existen en el DataFrame
missing_columns = [col for col in final_columns2 if col not in merged_df.columns]
if missing_columns:
    print(f"Missing columns: {missing_columns}")

# Seleccionar solo las columnas presentes en merged_df
final_columns2_existing = [col for col in final_columns2 if col in merged_df.columns]
final_df2 = merged_df[final_columns2_existing]

# Renombrar columnas para claridad
final_df2.rename(columns={
    'region_tabla1': 'region',
    'pais': 'pais',
    'club': 'club',
    'weeklyavg': 'weeklyavg',
    'annualavg': 'annualavg',
    'moneda': 'moneda',
    'wyId': 'wyId',
    'name': 'name',
    'officialName': 'officialName',
    'area_name': 'area_name',
    'region_tabla2': 'region'
}, inplace=True)

# Guardar o imprimir el DataFrame final
final_df2.to_csv('tabla_combinada.csv', index=False)
print(final_df2)

                   club   wyId                 name  \
0                  lafc    100                  afc
1          orlando city   8068         orlando city
2          nashville sc  30149         nashville sc
3             dc united   7852            dc united
4         new york city  32556        new york city
5  sporting kansas city   8134        united states
6    philadelphia union   8061   philadelphia union
7                austin  58325            blaustein
8   vancouver whitecaps  15015  vancouver whitecaps
9         fc cincinnati  37892           cincinnati

                  officialName
0  amsterdamsche football club
1              orlando city sc
2                 nashville sc
3                    dc united
4             new york city fc
5                united states
6           philadelphia union
7                tsv blaustein
8       vancouver whitecaps fc
9                fc cincinnati
                    region           pais           club  weeklyavg  \
0    central/north america  united states           lafc       9330
1    central/north america  united states   orlando city       8178
2    central/north america  united states   nashville sc      11651
3    central/north america  united states      dc united       9577
4    central/north america  united states  new york city       8512
..                     ...            ...            ...        ...
565                 europe        denmark    midtjylland       6274
566                 europe        denmark    sonderjyske         62
567                 europe        denmark    sonderjyske         62
568                 europe        denmark  nordsjaelland       3830
569                 europe        denmark  nordsjaelland       3830

     annualavg   moneda   wyId           name                 officialName  \
0       485154  dolares    100            afc  amsterdamsche football club
1       425248  dolares   8068   orlando city              orlando city sc
2       605862  dolares  30149   nashville sc                 nashville sc
3       498012  dolares   7852      dc united                    dc united
4       442640  dolares  32556  new york city             new york city fc
..         ...      ...    ...            ...                          ...
565     326250    euros   7455    midtjylland               fc midtjylland
566       3214    euros   7499    sønderjyske                  sønderjyske
567       3214    euros   7499    sønderjyske                  sønderjyske
568     199167    euros   7458   nordsjælland              fc nordsjælland
569     199167    euros   7458   nordsjælland              fc nordsjælland

         area_name                 region
0      netherlands              europe eu
1    united states  central/north america
2    united states  central/north america
3    united states  central/north america
4    united states  central/north america
..             ...                    ...
565        denmark              europe eu
566        denmark              europe eu
567        denmark              europe eu
568        denmark              europe eu
569        denmark              europe eu

[570 rows x 11 columns]

C:\Users\flori\AppData\Local\Temp\ipykernel_23592\738396499.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df2.rename(columns={

In [73]:
from google.cloud import bigquery

# Especifica tu ID de proyecto
project_id = 'ldp-data-wyscout'

# Crear un cliente de BigQuery con el proyecto especificado
client = bigquery.Client(project=project_id)

# Especificar la tabla de destino en el formato dataset.tabla
table_id = 'ldp-data-wyscout.capology.fuzzy'

# Configurar la carga de datos
job_config = bigquery.LoadJobConfig(
    write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE,  # Reemplaza la tabla si ya existe
)

# Guardar el DataFrame en BigQuery
job = client.load_table_from_dataframe(final_df2, table_id, job_config=job_config)
job.result()  # Esperar a que el trabajo termine

print(f"Los datos han sido cargados en la tabla {table_id}.")

Los datos han sido cargados en la tabla ldp-data-wyscout.capology.fuzzy.